 .admin-login-form
  {
    background: #F8F8F8;
    padding-bottom: 20px;
  }
  .admin-form-title
  {
    text-align: center;
    padding-bottom:10px;
  }

  .admin-login-btn
  {
    line-height: 30px;
    text-align: center;
    width: 100%;
    font-size: 20px;
   /*  background: #D6D6D6; */
  }