  <div class="wrap">
    <div class="l-disclaimer" ng-controller="dmvDisclaimerCtrl">

      <section>
        <header>
          <h1>California Department of Motor Vehicles Legal Notice and Disclaimer</h1>
        </header>

        <div class="disclaimer-container" role="article">
          <p>The California Department of Motor Vehicles (DMV) recognizes the right of private enterprises to advertise and distribute information related to their business functions. DMV promotes the free exchange of information, ideas and opinions, except when the content may invade personal privacy, violate property rights, constitute libel, or be a violation of any applicable federal, state, or local laws.</p>

          <p>While this lesson plan content may have been approved by DMV, the distribution, advertising, and other information provided by this vendor is not guaranteed by DMV, nor does it represent the views of the department.</p>

          <p>You are advised that DMV, unless statutorily required, has no continuing obligation to provide information to an approved course website or printed publication.</p>

          <p>DMV assumes no responsibility for erroneous, incomplete, or out-of-date information. The user should contact the provider and/or DMV to ensure that the information herein is current and accurate. All warranties of any kind, including but not limited to the IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, freedom from contamination by computer viruses, and infringement of proprietary rights ARE DISCLAIMED.</p>

          <p>You are advised that DMV is not responsible for the content of any off-site web pages referenced from or to an approved course website or home-study publication. In addition, DMV and the State of California are not responsible for the content of files that are uploaded for inclusion.</p>

          <p>The user should not rely on the presentation of statutes or regulations referenced in an approved website or printed publication, but should consult the actual text of law. Legal requirements frequently change and the user may wish to seek the advice of counsel.</p>

          <p>If you find any errors, omissions, or have a complaint regarding the educational content, we encourage you to report them to the education provider. In the event the issue is not resolved to your satisfaction, you may call the Department at (916) 229-3154.</p>

          <p>This course is not intended as training from a licensed driving school. It does not meet the standards, training, or requirements in preparation for being issued a driver license. This course has been reviewed and approved to meet the requirements for the traffic violator school program. Completion documentation will not be issued to those not meeting the traffic violator school program criteria.</p>

          <p>Pursuant to Vehicle Code section 1808.7, the following situations are not eligible for masking a traffic safety violation on a California driver record:</p>

          <ul>
            <li>The driver has already attended a traffic violator course within 18 months of the conviction.</li>
            <li>The driver holds a commercial license as defined in Vehicle Code section 15210.</li>
            <li>The driver holds a commercial driver license from out of state.</li>
            <li>The violation occurred in a commercial motor vehicle as defined in Vehicle Code section 15210.</li>
            <li>The violator has not paid a deposit of fees or bail, and has not pleaded guilty, no contest, or been convicted by the court of jurisdiction.</li>
            <li>The conviction would result in a violation point count of more than one point pursuant to Vehicle Code section 12810. A list of Vehicle Code two-point violations may be found on the Department of Motor Vehicles website, www.dmv.ca.gov."</li>
          </ul>

          <p>This site will require your California driver license or California identification number, or, if you do not have a California driver license or California identification card, your birth date, the court reference number (docket, ticket, or citation number), and the name of the court with jurisdiction or the court code. These are requirements for receiving a completion receipt and to have the information sent to the court of jurisdiction should you successfully pass this course. If you are unable to provide the required information, your participation shall not be credited toward satisfying the requirement.</p>

        </div>

      </section>

    </div>
  </div>
