<nav ng-controller="headerCtrl" class="navbar default navbar-fixed-top">
  <div class="navbar__inset">
    <div class="container-fluid">
      <div class="navbar__header"><!-- /.nav__header optional -->
        <button id="menu-toggle" type="button" class="hamburger hidden-md hidden-lg" aria-controls="navbar">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a class="navbar__brand default" href="#"><span class="brand__text">Hello<span class="text--heavy">Officer</span></span></a>
      </div><!-- /.navbar__header -->
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li rolse="presentation"><a href="/" ui-sref-active="active">Home</a></li>
            <li rolse="presentation"><a href="/how-it-works" ui-sref-active="active">How It Works</a></li>
            <li rolse="presentation"><a href="/frequently-asked-questions" ui-sref-active="active">FAQ</a></li>
            <li rolse="presentation"><a href="/contact" ui-sref-active="active">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right text--primary text--light">Coming Soon</p>
<!--           <ul  ng-show="!user" class="nav navbar-nav navbar-right">
            <li><a href="/get-started" ui-sref-active="active">Get Started</a></li>
            <li><a href="/login" ui-sref-active="active">Login</a></li>
            <li><a href="/help" ui-sref-active="active">Help</a></li>
          </ul>
          <ul  ng-show="user" class="nav navbar-nav navbar-right">
            <li><a ui-sref-active="active" style="text-transform: capitalize" href="/myprofile"><% userName %></a></li>
            <li><a href="/login" ui-sref-active="active">Go To Class</a></li>
            <li><a href="/logout" ui-sref-active="active">Logout</a></li>
            <li><a href="/help" ui-sref-active="active">Help</a></li>
          </ul> -->
        </div>
    </div><!-- /.container -->
  </div><!-- /.navbar__inset -->
  <div class="container-fluid nav__info text-center">
    <div class="row">
      <div class="col-xs-6">
        <span class="text--light">DMV License: E0849</span>
      </div>
      <div class="col-xs-6 border__left--primary">
        <span class="text--light"><span class="hidden-xs">Phone Number: </span>(888) 417-5314</span>
      </div>
    </div>
  </div>
</nav>



	  <main role="article">
	    <article role="list">

				<div class="container padding__top--50 padding__bottom--50">
					<div class="row">
						<div class="col-md-12">
							<header>
				        <h1 class="text--center">How It Works</h1>
				        <hr>
				        <p>By completing this traffic school, the point from your traffic citation will not show up on your driving record.  This course is licensed by the DMV, completely online, and we file your certificate to the court for you electronically.  All you need to do is read the curriculum and pass the final exam! </p>
				      </header>


							<h3>REGISTER</h3>

							<ol>
							  <li>Click the “Get Started” button.  </li>
							  <li>Fill out the short, basic information section.  </li>
							  <li>Answer a few security questions to ensure only you are taking the course.  </li>
							  <li>Create your user name and password.  </li>
							  <li>Log in and start!</li>
							</ol>

							<h3>READ THROUGH THE COURSE</h3>
							<p>Learn the important information with ease. Keep your eye out for some random sentences that are unrelated to traffic laws.  They will show up on your open book final exam to make sure you didn’t just skip ahead.</p>

							<h3>ANSWER QUIZ QUESTIONS</h3>
							<p>Complete a quick three-question quiz at the end of each section. When you get the questions right, you can move on to the next section. You have an unlimited number of attempts to get the quiz questions right, so don’t worry!</p>

							<p>After you pass each quiz, you will be asked to answer one random security question. If you get the security question wrong, you will be automatically logged out and will have to repeat the quiz when you sign back in.</p>

							<h3>PASS THE OPEN-BOOK FINAL EXAM</h3>
							<p>The test has 28 questions and is open-book. We make it easier than other traffic violator schools because we let you see the course curriculum and the test side-by-side!</p>

							<p>You only need to get 70% to pass (that is 20 out of 28 questions correct). Don't worry if you fail the first one.  You will be given another try. You can always take our course again if you fail twice.</p>

							<h3>COMPLETE DMV COURSE EVALUATION</h3>
							<p>Of course we appreciate your feedback, however all you have to do to fulfill this DMV requirement is to fill in your name, our name and license number.</p>

							<h3>GET YOUR COMPLETION RECEIPT</h3>
							<p>Hooray! You finished! And you’ve got a fancy receipt to prove it. Once you’ve printed/downloaded/emailed your receipt for your records, you are done! You don’t have to send anything! We will send the certificate to the court electronically. </p>

							<p>Once we submit your certificate, it’s up to the court to handle the rest.  Contact them directly to make sure they have resolved your ticket.</p>

						<!-- <p><em><small>*Applies to courses completed before 3pm Monday – Friday. All other certificates will be sent on the following business day.</small></em></p> -->
						</div>
					</div>
				</div>

	    </article>
	  </main>
<footer role="contentinfo" class="footer">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <p class="text-muted text__mobile--center">© HelloOfficer, All Rights Reserved 2016</p>
        </div>
        <div class="col-md-4 hidden-xs">
          <ul class="nav navbar-nav">
            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="/privacy-agreement">Privacy Agreement</a></li>
            <li><a href="/frequently-asked-questions">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4 hidden-xs">
          <ul class="nav navbar-nav pull-right">
            <li><a href="https://www.facebook.com/" title="Connect with Hello Officer Traffic School on Facebook" target="new"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="http://www.pinterest.com/" title="Connect with Hello Officer Traffic School on Pinterest" target="new"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
            <li><a href="http://instagram.com/" title="Connect with Hello Officer Traffic School on Instagram" target="new"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="https://twitter.com/" title="Connect with Hello Officer Traffic School on Twitter" target="new"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="http://tumblr.com" title="Connect with Hello Officer Traffic School on Tumblr" target="new"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>
