
<h1 class="text--center">Introduction</h1>
<hr>

<h3><span>A.</span> Course Objectives</h3>

<p>Welcome to Hello Officer, a traffic violator school! We are so glad that you chose our school and we promise to make this an easy peasy, pleasant and informative experience for you.  It’s so great that you have made the choice to complete traffic school instead of having a point on your driving record.  Kudos to you!  Let’s now take a moment to go through the goals of this traffic school, and the easy requirements you will have to fulfill in order to complete it.</p>

<h4><span>1.</span> Reduce traffic collision involvement</h4>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="../images/curriculum-images/1-intro.jpg" class="img-responsive">
    </div>
</div>

<p>The first and most important goal of this course is to reduce car crashes and accidents.  Every year, thousands of drivers are involved in collisions that result in injuries and fatalities to drivers, passengers, and pedestrians.  The goal of any traffic related course is to try to illuminate the rules of the road in an interesting and informative manner, to refresh driver knowledge of the rules, and decrease tragedies on the road that bring a high cost to society.  It is easy to forget basic rules if you have been driving for a number of years, and this course hopes to refresh knowledge most of you already have. Perhaps we can even be illuminate knowledge you never possessed.</p>

<h4><span>2.</span> Reduce traffic law violations</h4>

<p>You are likely here because you got a ticket.  This course will help you learn ways to avoid getting tickets in the future, which are costly both in terms of the time they take up and the dollars you need to dish out.  Reckless and misinformed driving can lead to traffic tickets.  By giving you the information that you need, we hope to help you to drive more safely and in accordance with traffic laws.  That way you can avoid both tickets and putting yourself and other drivers in positions where they may get into collisions.</p>

<h4><span>3.</span> Reemphasize the responsibilities associated with operating a vehicle</h4>

<p>Driving a vehicle is a major responsibility.  Sometimes it is easy to forget this fact. If you really think about it, driving a car is a dangerous thing to do by nature.  You are maneuvering a heavy piece of machinery through roads where other heavy vehicles are traversing.  Our vehicles move fast, capable of going over 100 miles per hour.  Sitting behind the wheel of such a vehicle is a serious undertaking that should be approached with caution and care.  One of the main objectives of this online traffic course is to remind you of this heavy responsibility and everything that comes with it.</p>

<h3><span>B.</span> Course Requirements</h3>

<p>Outlined below are the requirements for completing this course.  Make sure you have read through the requirements thoroughly so that you are able to maximize the knowledge that you gain from this course, pass the course, and get your certificate.  The course covers all of the information that you need to know as required by the DMV to help you avoid getting fined for traffic violations and help you avoid any collisions in the future.</p>

<h4><span>1.</span> Attend (all of the) class</h4>

<p>The key to getting the most out of this course is to read every section and complete all of the class.  Complete each section before you move on to the next.  Make a thorough review before you take any tests or quizzes. Beware! We have included a random set of phrases throughout the course, which will appear on the final test. So if you skip ahead to the tests without reading the curriculum, you will miss a few key questions and may fail the test!</p>
<p>Also, we need to make sure that the person who got the traffic violation is the person taking the course. We asked you to answer 10 security questions when you signed up for this course. Be sure to remember your answers! After every chapter quiz, we will ask you one of those 10 questions. If you answer incorrectly, you will automatically be logged out and you will have to retake the quiz after logging back in.  </p>

<h4><span>2.</span> Participate/be mentally present</h4>

<p>In order to get the most benefit, tune in and take interest in what is being taught.  This means get rid of any distractions, such as the TV, the radio, or other conversations going on in the room.  Find a quiet place in your home where you can focus and be mentally present.</p>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="../images/curriculum-clipart/clip-art-1.jpg" class="img-responsive">
    </div>
</div>

<h4><span>3.</span> Pass final examination</h4>

<p>A requirement of passing this course is that you pass the final exam.  The examination will be graded with a passing score of 70% or more. The exam will be open book and you will have 60 minutes to complete it.   The test will consist of a 28 questions.  It will test your knowledge of the information covered in the course such as defensive driving, driver distractions, right-of-way, and operator responsibility.  If you do not pass the final exam, you will not pass this course.  If you don’t pass it on your first try, don’t worry – you have a second try to pass it. If you don’t pass on your second attempt, you will have to retake the course and try again.</p>

<h4><span>4.</span> Complete the DMV course evaluations form</h4>

<p>The final requirement of this course is to complete the evaluation form that the DMV requires for submission. You will have 5 minutes to complete this task. This form is important because it allows the DMV to know how you felt about this course, whether it was informative, thorough and clear enough.  This allows the DMV to collect necessary information about our course so that we will be better able to serve you in the future, according to their requirements and standards. (NOTE: If you have serious reservations about providing this information, you need only fill in your name and our school information on the form to satisfy this requirement.)</p>