

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section IX Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> These are the three primary categories of being distracted::</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> manual, visual, cognitive
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> visual, oral, cognitive
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> cognitive, manual, oral
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> oral, visual, cognitive
				  </label>
				</div>

				<p><span>2.</span> An example of being distracted while driving is:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> Attending to an infant or toddler
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> Attending to a pet
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> Using a smart phone
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> All of the above
				  </label>
				</div>

				<p><span>3.</span> xA person shall not drive a motor vehicle while using an electronic wireless communications device to write, send, or read a text, unless it is being used while the car is stuck in traffic or behind a stop light.</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="false"> <span>b.</span> FALSE
				  </label>
				</div>


				<h3>Security Question</h3>
				<p>Do you watch football?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="yes"> <span>a.</span> Yes, always
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="no"> <span>b.</span> No, never
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="sometimes"> <span>d.</span> Sometimes
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
