

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section V Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> When backing out of a parking spot:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Use all your mirrors to see what is happening around your car
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Turn your body and check over your right and left shoulders
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Exercise patience
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> All of the above.
				  </label>
				</div>

				<p><span>2.</span> If your car were to begin fishtailing, you would experience:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> The rear end of the car skidding to one side
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> The car stopping suddenly
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> The front end of the car hitting a bump
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> The windows fogging up
				  </label>
				</div>

				<p><span>3.</span> The trick to returning safely to the road after driving off the road or to the shoulder involves very quickly steering back into the road in order to beat oncoming traffic.</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="false"> <span>b.</span> FALSE
				  </label>
				</div>

				<h3>Security Question</h3>
				<p>What kind of movies do you like most?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Horror"> <span>a.</span> Horror
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Drama"> <span>b.</span> Drama
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Independent"> <span>c.</span> Independent
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Comedy"> <span>d.</span> Comedy
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
