

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section VI Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> Before setting off on a road trip, it is best to:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Eat a large meal so you don’t get hungry.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Go for a run to make sure you have plenty of energy.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Check traffic and road conditions of your planned route.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> Make sure you have called everyone to tell them you’re leaving.
				  </label>
				</div>

				<p><span>2.</span> You should allow more than 3 seconds between you and the vehicle in front of you when:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> You cannot see around the vehicle in front of you.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> There is a tailgater behind your vehicle.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> You are driving on icy roads.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> All of the above
				  </label>
				</div>

				<p><span>3.</span> In general, you are legally required to turn your headlights on 30 minutes after sunset and continue to use them while driving until 30 minutes prior to sunrise.</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="false"> <span>b.</span> FALSE
				  </label>
				</div>

				<h3>Security Question</h3>
				<p>How many children do you have?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="1"> <span>a.</span> 1
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="2"> <span>b.</span> 2
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="0"> <span>c.</span> 0
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="none"> <span>d.</span> None of the above
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
