

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section XI Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> Motorists should:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Never cross a bike lane
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Treat bikes lanes like any other traffic lane
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Ride bikes instead of driving
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> None of the above
				  </label>
				</div>

				<p><span>2.</span> When passing other vehicles on the road:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> You should always make certain you have enough space.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> You should never pass other vehicles on the road.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> Avoid passing other vehicles on a two lane road.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> a and c.
				  </label>
				</div>

				<p><span>3.</span> If a signal warns of an approaching train or if a train is visible or audible, you must stop at least:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> 10 feet from the railroad crossing
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> 12 feet from the railroad crossing
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> 15 feet from the railroad crossing
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="d"> <span>d.</span> 25 feet from the railroad crossing
				  </label>
				</div>



				<h3>Security Question</h3>
				<p>What is your favorite shape?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="circle"> <span>a.</span> Circle
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="square"> <span>b.</span> Square
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="rectangle"> <span>c.</span> Rectangle
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="triangle"> <span>d.</span> Triangle
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
