{{>admin-header}}

<div id="home">
  <div class="row">
      <div class="col-sm-4"></div>
       <div class="col-sm-4 signupform" style="background:#f8f8f8">
            <div style="text-align:center"><h2>Admin Menu</h2></div>
             <ul>  
                 <li> 
                    <h4><a  href="/admin/quiz">Go To Quiz</a></h4>
                 </li>
                 <li>
                   <h4><a  href="/admin/users"> Go To Users </a></h4>
                 </li>
                  <li>
                   <h4><a  href="/admin/coupons"> Go To Coupons </a></h4>
                 </li>   	 
             </ul>
      </div>
  </div>
</div>