{{>app-header}}


  <div class="hero copcar height--600">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="display__table height--500">
              <div class="display__table-cell align--middle text-center">
                <h1 class="text--huge text--light text--white text--center text__shadow--md">Hello<span class="text--heavy">Officer</span></h1>
                <p class="text--large text-uppercase text--center text--white text--light text__shadow--sm">Simply the best and easiest <span class="text--semibold">traffic violator school</span>.</p>
                <br>
                <!-- <a href="/get-started" class="btn primary base">Start Your Course for Free Today!</a> -->
                <a href="#" class="btn primary base">Coming Soon</a>
              </div>
            </div>
        </div><!-- /.col-sm-12 -->
      </div><!-- /.row zip-form nineteen-->
    </div><!-- /.container -->
  </div><!-- /.hero -->

  <main role="article">
    <article role="list">

      <header class="article_title primary">
         <h2>California&#39;s Top Traffic School</h2>
      </header>

      <div class="container padding__top--50 padding__bottom--50">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="text--xlarge">Completely Online</h3>
            <p class="text--light text--base">
              No books<br>
              No classrooms<br>
              No hassle!<br>
              Everything is online.
            </p>
          </div>
          <div class="col-sm-6">
            <img src="/images/marketing/devices.png" alt="Mobile Devices" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="container padding__top--50 padding__bottom--50">
        <div class="row">
          <div class="col-sm-6">
            <img src="/images/marketing/laptop.png" alt="Mobile Devices" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <h3 class="text--xlarge">Easy Open Book Test</h3>
            <p class="text--light">See the Final Exam and the curriculum side by side with our unique open book button!</p>
          </div>
        </div>
      </div>

      <div class="container padding__top--50 padding__bottom--50">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="text--xlarge">Free, Fast Electronic Filing</h3>
            <p class="text--light text--base">
              No mailing needed.  We do it all for you after you complete the test!
            </p>
          </div>
          <div class="col-sm-6">
            <img src="/images/marketing/browser.png" alt="Mobile Devices" class="img-responsive">
          </div>
        </div>
      </div>

<!--       <div class="container padding__top--50 padding__bottom--50">
        <div class="row">
          <div class="col-sm-6">
            <img src="/images/marketing/laptop.png" alt="Mobile Devices" class="img-responsive">
          </div>
          <div class="col-sm-6">
            <h3 class="text--xlarge">Low Price</h3>
            <p class="text--light">Only <span class="text--primary">19.95</span>!  This course is cheap without skimping on the user friendliness and easy navigation of the site.</p>
          </div>
        </div>
      </div> -->

    </article>
  </main>

{{>footer}}
