<link rel="stylesheet" href="/styles/print.css">
<main role="article">

  <article>

    <div class="btn-group cert_controls" role="group" aria-label="..." ng-controller="certificateBtnCtrl">
      <button type="button" class="btn primary" onClick="window.print()"><i class="fa fa-print"></i> print</button>
      <button type="button" class="btn primary"  ng-click="emailCertificateToUser()">
           <i class="fa fa-envelope"></i>
            email
      </button>
      <!-- <button type="button" class="btn btn-primary"><i class="fa fa-cloud-download"></i> download</button> -->
    </div>

    <div class="userform l_certificate" ng-controller="certificateCtrl">

      <table class="table masthead">
        <tr>
          <td>
            <div class="m-brand">
              <img src="../images/logo.svg" alt="Hello Officer Logo">
              <span>Hello<strong>Officer</strong></span>
            </div>
          </td>
          <td>
            <address>
              <span class="primary base"><strong>Hello Officer, LLC</strong></span><br>
              <span class="address">6535 Wilshire Blvd, Suite 261  </span><br>
              <span class="city">Los Angeles</span>,
              <span class="state">CA</span>
              <span class="zip">90048</span><br>
              <span class="tel">(888) 417-5315</span><br>
              <span class="email"><a href="mailto:helloofficertrafficschool@gmail.com">helloofficertrafficschool@gmail.com</a></span><br>
              <span class="cert-num"><strong>Certificate #:</strong> <% user.certificateNo %></span><br>
              <span class="hours"><em><strong>Hours of Operation:</strong> Monday – Friday, 8:00AM -4:30 PM</em></span>
            </address>
          </td>
        </tr>
      </table>

      <h1>Completion Receipt</h1>
      <hr>
      <p>Congratulations, <% user.name %>! You have successfully completed the HelloOfficer.com traffic violator school course. Below are the details you provided z your traffic violation. We will be sending your Certificate of Completion to the court on your behalf ASAP, so take a minute to confirm everything is correct. Call us at the number above immediately if any changes are needed. Thanks so much for choosing us!</p>

        <table class="table cert_info">
          <tbody>
            <tr>
              <td><strong>Student Name:</strong></td>
              <td><% user.name %></td>
            </tr>
            <tr>
              <td><strong>Student Address:</strong></td>
              <td><% user.addr %></td>
            </tr>
            <tr>
              <td><strong>Date of Birth:</strong></td>
              <td><% user.dob %></td>
            </tr>
            <tr>
              <td><strong>Issuing Court:</strong></td>
              <td><% user.issueCourt %></td>
            </tr>
            <tr>
              <td><strong>Citation/Case/Docket Number:</strong></td>
              <td><% user.citation %></td>
            </tr>
            <tr>
              <td><strong>Driver's License Number:</strong></td>
              <td><% user.licenseNo %></td>
            </tr>
            <tr>
              <td><strong>State of Issuance:</strong></td>
              <td><% user.stateOfInsurence %></td>
            </tr>
            <tr>
              <td><strong>Traffic Violator School Completion Date:</strong></td>
              <td><% user.schoolCompletionDate %></td>
            </tr>
            <tr>
              <td><strong>Traffic School Due Date:</strong></td>
              <td><% user.dueDate %></td>
            </tr>
          </tbody>
        </table>

        <p class="text-danger text-center">THIS RECEIPT IS FOR YOUR RECORDS ONLY AND IS NOT VALID FOR COURT SUBMISSION.</p>
    </div>



  </article>

</main>

