
    <main role="article">

        <article>
            <h1 class="text--center">Course Completion</h1>
            <hr>

            <div class="hattip center-block">
                <img src="../images/logo-lg.png" alt="Hello Officer Logo" class="img-responsive">
            </div>

            <button ng-click="next()" class="btn primary wider center-block">Let's Do This!</button>

            <h3 class="text-center">Hey <%userName%>, you made it!</h3>
            <p class="text-center">Congratulations on completing the course! Now it's time to test your knowledge. The test is open book, so you are free to access the course materials at any time by using the blue book icon. You will have 60 minutes to complete 28 questions. (Three of the questions are "Bonus" questions we use to make sure you actually read the course.) You must score 70% or higher in order to pass the course. You'll have just two attempts to pass, so read the questions carefully. If you fail the test twice, you will have to retake the course. Good luck!</p>



        </form>

        </article>

    </main>