{{>header}}
  <div class="wrap_main">

      <article>
        <header class="article_title primary">
          <h1>Let's get started!</h1>
          <p>Signing up is easy. No distractions. Hassle Free.</p>
        </header>


        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wizaed text-center hidden-xs">
                <a class="current">Sign Up</a>
                <a class="disabled">Security Questions</a>
                <a class="disabled">Course</a>
                <a class="disabled">Payment</a>
                <a class="disabled">Test</a>
                <a class="disabled">Certificate</a>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form name="userRegistrationForm">
                <fieldset>

                  <div class="form__group--6">
                    <label for="firstname" class="sr-only">First Name:</label>
                    <input ng-model="data.first_name" type="text" id="firstname" value="" placeholder="First Name" required nt-focus/>
                  </div>

                  <div class="form__group--6">
                    <label for="lastname" class="sr-only">Last Name:</label>
                    <input ng-model="data.last_name" type="text" id="lastname" value="" placeholder="Last Name" required>
                  </div>

                  <div class="form__group--6">
                    <label for="email" class="sr-only">Email Address:</label>
                    <input ng-model="data.email" type="email"placeholder="Email Address" required>
                  </div>

                  <div class="email_message"></div>

                  <div class="form__group--6">
                    <label for="casenumber" class="sr-only">How did you find us:</label>
                    <select ng-model="data.search_refer">
                      <option value="" disabled selected>How did you find us:</option>
                      <option>Google Search</option>
                      <option>Facebook</option>
                      <option>Youtube</option>
                      <option>DMV Recommendation</option>
                      <option>Friend</option>
                      <option>Print Ad</option>
                      <option>Online Ad</option>
                    </select>
                  </div>

                  <div class="clearfix"></div>

                  <div class="form__group--6">
                    <label for="password" class="sr-only">Create Password:</label>
                    <input ng-model="data.password" type="password" id="password" value="" placeholder="password" required>
                  </div>

                   <div class="form__group--6">
                     <label for="confirmpassword" class="sr-only">Confirm Password:</label>
                     <input type="password" id="confirmpassword" value="" placeholder="confirm password" compare-to="data.password" ng-model="password_verify" name="confirm_password"  required data-password-verify="data.password"/>
                     <div ng-show="userRegistrationForm.confirm_password.$error.passwordVerify" class="alert-danger">
                       Passwords do not match.
                     </div>
                  </div>

                 <div class="form__group--6">
                     <div id="captchaElement" class="g-recaptcha" data-sitekey="<% siteKey %>"></div>
                 </div>

                 <div class="form__group--6 text--right">
                     <button ng-click="submit()" type="submit" class="btn primary base wider">Continue</button>
                 </div>

                </fieldset>
              </form>
            </div>
          </div>
        </div>





      </article>

    </div>
  </div>
{{>footer}}
