{{>header}}
<main role="article">
  <article role="list">

    <div class="container padding__top--50 padding__bottom--50">
      <div class="row">
        <div class="col-md-12">

          <header>
            <h1 class="text-center">Help</h1>
          </header>

          <hr>

          <div class="row padding__top--50 padding__bottom--50">
            <div class="col-md-6 col-md-offset-3 text-center">

              <a href="/verify-account" class="btn primary wider">Correct an Existing Certificate</a>


            </div>
          </div>
        </div>
      </div>
    </div>

  </article>
</main>
{{>footer}}
