<h1><span>I.</span> RECENT CHANGES/REASONS FOR TRAFFIC LAWS</h1>
<hr>

<img src="../images/curriculum-clipart/clip-art-2.gif" alt="clip art of a scroll">

<p>Each year there are new laws that most people don’t hear about until they are pulled over and informed of the law.  Unfortunately this method comes with a hefty fine for ignorance. Lucky for you, we are going to go over and cover all of the pertinent laws that you as a driver should know about in order to bypass the heartache and wallet-ache of a fine. <strong class="bonus-phrases">Bella is terrified of ceiling fans.</strong></p>

<p>You will find most interesting the laws that are being passed to account for and monitor the use of various technological devices, such as tablets and cell phones, while driving and the possible usage of technology to make things easier, more accessible, and more environmentally friendly for drivers in the not so distant future.  Could it be possible that sometime in the next 5 years we will not need actual metal license plates?  Some of these laws point to changes that are coming up in the future with regard to many types of technology – including self driving cars!  Pretty exciting stuff!  So without further ado, here are some laws that have been passed in 2013 and 2014. </p>

<h3><span>A.</span> RECENT CHANGES AND THE REASONING BEHIND THEM</h3>

<h4><span>1.</span> Recently passed/changed traffic related laws</h4>

<p><strong>Driving Under the Influence (2013).</strong> Any driver who is suspected of driving under the influence of drugs will be required to take a blood test to determine drug content.  He or she will no longer be able to choose a urine test.  The person will only be able to submit a blood test, which is much more accurate than a urine test.</p>

<p>What this law is trying to achieve is to increase the accuracy of detecting drug content in persons suspected of driving under the influence, and ultimately help better decipher if a person is under the influence and convict them accordingly.  </p>

<p>Should a blood test be unavailable for some reason, then the person suspected is automatically deemed to have given his or her consent to a urine test.</p>

<p>Obviously there are a few exceptions to this law.  A person is only allowed to specifically ask for a urine test under the following conditions:</p>

<ul>
  <li>The person is physically unable to provide a blood or breath sample.</li>
  <li>The person has a heart condition, or is taking anti-coagulate narcotics as prescribed by a licensed physician.</li>
  <li>The person is a hemophiliac.</li>
</ul>

<p><strong>Traffic Violator School (2013).</strong> This law allows commercial drivers to attend a Traffic Violator School (TVS) for traffic violations that occur during the operation of non–commercial vehicles. Such violations will not count as a point toward negligent operator status for commercial drivers, unless the violation in question is considered serious. Serious violations could include those involving alcohol or drugs, speeding more than 25 miles over the speed limit, misdemeanors, and violations that require a mandatory appearance in court.  Information about the violation would be available to be disclosed to employers and not held confidential. It would likewise be available to be disclosed to insurers for insurance underwriting and rating purposes.</p>

<p><strong>Veteran License Plates (2013).</strong> This new law increases fees for the issuance, renewal, and personalization of Veterans organizations’ license plates.  The difference in the fee will go toward the County Veterans Service Officers Fund which helps veterans and their families to access benefits and services. </p>

<p><strong>High Occupancy Toll Lanes (2013).</strong> This law allows low emission and hybrid vehicles that can use the carpool lane, (High Occupancy Vehicles lanes), specifically those with stickers issued by the DMV enabling them to do so, to be exempt from toll charges on carpool lanes, except, of course, where prohibited by federal law. </p>
<p><strong>Clean Air Vehicle Decals / “HOV Stickers” (2014).</strong> This law extends the date for certain low or zero emission vehicles to be able to drive in the carpool lane without meeting the requirement of the minimum number of passengers to January 1, 2019.  The law applies to White and Green Clean Air Vehicle Decals.  Cars that meet requirements for white decals are typically certified pure zero emission vehicles (100% battery, electric, and hydrogen fuel cell) and compressed natural gas (CNG) vehicles. Cars that meet requirements for green decals are purchased or leased cars meeting California's transitional zero emission vehicles (TZEV) requirement.  Yellow Clean Air Vehicle Decals for hybrids are no longer valid.</p>

<p><strong>Registration and Vehicle Transfers Between Family Members (2014).</strong> This law will prohibit the transferring of ownership of a vehicle to a relative or a revocable living trust until all parking and toll–violation tickets and penalties reported to the DMV are paid by the person who is transferring the ownership of the vehicle.</p>

<!-- new section -->
 <p><strong>Driver’s License Veteran’s Designation (2015).</strong> Driver license or identification cards will now be able to have the designation "VETERAN" printed on them to indicate a person has served in the United States Armed Forces. Veterans will be required to provide verification of service from their local County Veterans Service Office. The designation can be printed on an original, renewal, or duplicate driver's license or ID card for $5.00 in addition to the cost of the driver's license or ID card. This law will go into effect on November 11, 2015.</p>

 <p><strong>The Definition of Motorized Vehicles or MOPED (2015).</strong> This new law states that a “motorized bicycle” or “moped” is now defined as:</p>
 <ol type="1">
  <li> <p>A two-wheeled or three-wheeled device having fully operative pedals for propulsion by human power, or having no pedals if powered solely by electrical energy, and an automatic transmission. Additionally, a motorcycle or moped produces less than 4 gross brake horsepower is capable of propelling the device at a maximum speed of not more than 30 miles per hour on level ground.</p></li>
  <li>
     <p> A "motorized bicycle" has pedals for propulsion by human power and has an electric motor that fulfills all of these requirements below:</p>
     <ul type="disc">
         <li>Has a power output of 1000 watts or less</li>
         <li>Is not able to propel the device at a speed of more than 20 miles per hour on ground level</li>
         <li>Is not able to further increase the speed of the device when human power is used to propel the motorized bike faster than 20 miles per hour</li>
         <li>Each manufacturer of these motorized bicycles will be required to disclose to buyers that their existing insurance policies may not provide coverage for these bicycles and that they should contact their insurance company to find out if their bikes will be covered.</li>
     </ul>
  </li>
 </ol>


<!-- new section end -->

<h4><span>2.</span> Changes to technology</h4>

<p><strong>Autonomous Vehicles (2013).</strong> This new law addresses the use, testing and manufacturing of autonomous vehicles. Yes folks, that means what you think it means: Self Driving Cars.  Before making a self-driving car available to be used by the general public, a manufacturer is required to submit an application to DMV, and certify that special insurance, safety, and testing standards have been met satisfactorily. The law also addresses any additional requirements, such as number of vehicles available to the public, registration and licensing requirements and rules regarding revocation, denial or suspension of licenses pertaining to these vehicles.  (SB 1298/Padilla).  Pretty exciting, futuristic stuff!</p>

<p><strong>Electronic Wireless Communications (2013):</strong> Drivers OVER the age of 18 are now allowed to use and operate an electronic wireless device such as a cell phone provided it is designed to be used on a voice operated, HANDS FREE mode to dictate, send or listen to text messages or written communications when driving.  Please be careful though as a new 2014 law will specifically prohibit anyone UNDER 18 from doing this. So read on.</p>

<p><strong>Financial Responsibility (proof of insurance) (2013):</strong>  This law allows the driver of a vehicle, when pulled over, to now provide evidence of car insurance in electronic form on an electronic device, such as a smart phone or tablet, as well as in paper form.</p>

<p><strong>Obstruction or Alteration of License Plates (2013):</strong> Certain products and electronic devices are available that obscure a license plate so that it cannot be read by law enforcement.  So there are some very naughty people out there that try to get out of being tracked by law enforcement this way.  This law prohibits the selling of any visual or electronic device that does this, and also does not allow even the operation of a vehicle that contains or uses such a device.</p>

<p><strong>DMV Vehicle Registration Pilot Program (2014).</strong> Another foray into updating the future of driving, this law authorizes DMV to start their pilot program to test the usage of electronic alternatives to stickers, tabs, license plates, and registration cards.  This law will allow the DMV to begin experimenting with electronic license plates, and exploring new ways to track vehicles such as alternative and more cost–effective methods to the tried and true metal license plates, plastic–coated registration stickers, and paper registration cards.  This law will allow the DMV to start developing more sustainable and environmentally friendly registration cards, license plates and paper documentation. </p>

<p><strong>Teen Drivers (2014).</strong>  This law will prohibit a person who is under 18 years of age from using a cell phone, tablet or other kind of electronic communications device to send or read a text–based communication while operating a motor vehicle. Here’s the important part: this is <strong>regardless of whether it is equipped with a hands–free device or not!</strong>  So while adults are able to use a hands free device, minors under 18 are not.</p>

<img src="../images/curriculum-clipart/clip-art-3.jpg" alt="Image of man talking on cellphone">

<h4><span>3.</span> Changes in driving techniques</h4>

<p><strong>Passing Distance for Passing Bicycles (2014).</strong> This law went into effect September 16, 2014 and requires a passing distance of at least 3 feet between any part of your vehicle and any part of the bicycle when passing.  If weather or traffic conditions make this impossible then drivers must slow to a safe and reasonable speed and only pass when sure that there is no danger to the bicyclist.  You can get a ticket if you do not abide by this 3 feet rule, regardless of whether or not you get into a collision.</p>

<h3><span>B.</span> REASONS FOR TRAFFIC LAWS</h3>

<p>So here you are taking this traffic course thinking:  “traffic laws suck and are unfair,” “I don’t care about traffic laws,” “traffic laws are only there so that the state can make money.”  You got in trouble and are upset about it, and that is understandable.  But take just a moment and think what would happen if there were no traffic laws at all.  If the streets and road ways were a version of the Wild West, and anything could happen the minute you started driving.  Exciting?  No.  Frightening and completely unpredictable?  Yes.  You may feel upset now, but trust me, you should be glad that traffic laws exist to keep you safe from other drivers, and to provide a blueprint of how to behave (and how not to behave!) while operating a vehicle.</p>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="../images/curriculum-images/50-i_b_.jpg" class="img-responsive center-block" alt="Image of freeway traffic">
    </div>
</div>

<p>Let us take a look now at the three main reasons why traffic laws exist: Safety, Common Understanding, and Keeping Order.</p>

<h4><span>1.</span> Safety laws</h4>

<p>The number one reason for the existence of traffic laws is to reduce the number of deaths and injuries on our nation's roadways.  Motor vehicles are large, heavy pieces of machinery that have the ability to go very fast, and cause a lot of damage if not operated correctly. Who are operating these dangerous would-be weapons?  Human beings. Humans are fallible, emotional, accident prone, and most importantly: we make mistakes.  Ever heard the saying: “to err is human”? Traffic  laws promote the safety and wellbeing of everyone who shares the road:  pedestrians, bicyclists, drivers of cars, trucks, commercial vehicles, motorcycles, and any other moving part of our roadways and streets.  </p>

<p>Traffic laws are there to identify the safest manner in which to drive with regard to speed, safe distances, driving under different weather conditions, seatbelt and child safety, and driving while under the effects of various substances. Traffic laws define what to do and what not to do and this is important for everyone involved.</p>

<p>If it were not for traffic laws, there would be complete chaos on our streets and highways.  There would, in fact, be a significantly reduced chance of surviving while driving.  Without traffic laws nobody would be safe, and drivers would basically do whatever is most convenient for them. Even the most conscientious driver would make decisions that are not going to be good for other drivers, if there were no traffic laws.  </p>

<p>Enforcement of traffic laws is just as important as having the laws themselves.  If laws were not enforced, nobody would follow them as they would need to be followed, picking and choosing which laws to follow based again on convenience or need of the individual driver. </p>

<p>There are many reasons traffic laws exist.  There are millions and millions of people who own and operate vehicles, millions of drivers out on the roads. Without traffic laws there would be no order, no set manner in which people would learn to drive. There would be no accountability without the enforcement of these laws. This would directly translate to more human deaths on the road.</p>

<h4><span>2.</span> Common understanding</h4>

<p>Traffic laws provide a common understanding of the road, a set way to drive and not to drive that everyone can follow and understand.  Unless there are traffic laws, individual drivers would have their own interpretation of how to drive, what rules to follow and how to be safe.  There would be no agreement between law enforcement and drivers and any action taken by a driver would be open to various opinions.  </p>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="../images/curriculum-images/51-i_b_2.jpg" class="img-responsive center-block" alt="Image of a car in the middle of a cross walk with pedestrians">
    </div>
</div>

<p>Basically, without traffic laws, there would be a free-for-all manner of driving in which anything goes.  Drivers would have no set language in which to communicate with each other and there would be no set way to interpret what another driver is doing, needing, saying with their vehicle. For example:  imagine that there are no traffic laws and no set way for a driver to communicate.  If you see a driver with their hazards on, how might you read that?  In our world where there are laws, hazard lights mean just that:  this vehicle is, in some way, in distress.  In a world without traffic laws hazard lights might mean a number of things:  the driver is wanting to stop, the driver has seen something on the road, the driver wants you to get off the road, the driver just doesn’t like you, the driver had one too many drinks and is trying to let you know, the driver likes the color red and thinks flashing lights are pretty, etc.</p>

<p>Another example:  Our current understanding of stop signs is that a person makes a full stop at a stop sign, and then continues driving, provided the lanes are free and clear of hazards.  Imagine that there are no stop signs at all.  It would be up to you when you wanted to stop and when you wanted to keep driving.  Without stop signs there would be a drastic increase in accidents at intersections because nobody can read another driver’s mind.  You don’t know when a driver is going to stop or go. This would create confusion at intersections.  Since I’m sure the city cannot afford crossing guards at every intersection, the stop sign is our most effective ally at intersections.  Nobody is exempt from having to stop at a stop sign. Everyone has to follow the same law.</p>

<p>You get the picture…</p>

<h4><span>3.</span> Keeping order and movement in traffic</h4>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="../images/curriculum-clipart/clip-art-4.jpg" class="img-responsive center-block" alt="Landscape view of a freeway with minimal traffic">
    </div>
</div>

<p>Imagine if there were no traffic lanes, no stop lights or stop signs, no bike lanes or Right of Way laws.  There would be no order on the roadways at all.  Traffic laws help to establish a certain order and facilitate movement in the flow of traffic.  Basically, what that means is that there would be a lot more congestion in traffic if there were no traffic laws.  There are a few reasons for this:</p>

<p><span>i.</span> <strong>Traffic laws help to prevent collisions.</strong>  In fact that is their number one objective: to keep people safe from potentially fatal collisions.  Without traffic laws there would be exponentially more collisions, and when there are more collisions on the road, you can also expect a lot more traffic congestion.  Traffic congestion causes stress, tardiness to work, and time lost from other activities.  So while traffic laws might be an inconvenience at times, clearly they are very important.</p>

<p><span>ii.</span> <strong>Traffic laws specify driving speeds.</strong>  Without these specifications, individual drivers would make up their own minds about what speed to follow on the road.  This means that many drivers would drive much faster and potentially at dangerous speeds. It could also mean that drivers do not go with the flow of traffic as they are instructed to do by traffic laws, or they drive much slower than posted speed limits, causing traffic congestion.  </p>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="../images/curriculum-images/6-i_b_3.2.jpg" class="img-responsive center-block" alt="Image of 30 mph speed limit sign">
    </div>
</div>

<p><span>iii.</span><strong>Traffic lane laws help to keep traffic moving.</strong>  Traffic laws discourage the rapid changing of lanes, which is also partially responsible for the slowing of traffic.  Individual drivers would feel entitled to switch lanes rapidly and to their heart’s content, causing more congestion.  People might drive at a leisurely pace in the fast lane where you are supposed to go faster therefore causing the obstruction of traffic and therefore more traffic.</p>

<p>Without traffic laws, drivers would face utter chaos when on the road.  Each driving excursion would become hazardous, much more so than driving already is.  Bicyclists and pedestrians would lose their right of way privileges, which could be disastrous and cause many fatalities.  There would be an “every man for himself” mentality out on the road, and people would make up their rules as they went along.  Drivers would not feel the need to wait for any reason, a red light, a stop sign, none of these important signals would mean anything.</p>
