<h1 class="text--center"><span>IV.</span> Rights and Responsibilities of a Pedestrian</h1>
<hr>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/35-iv-intro.jpg" class="img-responsive center-block" alt="Image of a person on a sidewalk">
  </div>
</div>

<p>Pedestrians face many threats and should always be aware of traffic conditions.  As a pedestrian, you have a responsibility to be aware of your surroundings and proceed safely. When crossing a street, be aware of vehicles before making the assumption that you are entitled to the right-of-way. </p>

<h3><span>A.</span> CROSS AT INTERSECTIONS AND DESIGNATED CROSSWALKS</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/19-iv_a.jpg" class="img-responsive center-block" alt="Image of a crosswalk and a pedestrian crossing sign">
  </div>
</div>

<p>Crosswalks are typically marked with white or yellow lines. Occasionally you will see yellow lights on the outer edges of the yellow lines of crosswalks in the center of the block. These typically begin blinking when a pedestrian enters them and have accompanying stoplights activated by pedestrians, giving drivers an additional alert. Crosswalks in the center of a block or other sections of the roadway not in an intersection will typically have yellow signs posted along the roadway to alert motorists that pedestrians may cross there. Crosswalks in residential areas are not typically marked. </p>

<p>Pedestrians are not legally allowed to cross a roadway between adjacent intersections that are controlled by signal devices or by police officers without a marked crosswalk. To speak a little more plainly, if you are not at an intersection or marked crosswalk, it is illegal to cross the road.</p>

<p>Never mindlessly power on into a crosswalk or leave a curb or sidewalk to walk into the way of an oncoming vehicle in motion.  This could be very unsafe, and you would be putting your life in danger. Even if you are at a crosswalk, always make sure that cars are stopping for you before you cross. It is true that legally, drivers of vehicles must yield the right-of-way to pedestrians in crosswalks, however if you do not ensure that the driver sees you and intends to stop, and that he or she has enough space to safely stop for you, the driver may hit you. If you carelessly exercise your right-of-way, the law cannot protect you from being injured.  If you are hit, you are hit, and you will likely sustain injuries or even die because of carelessness.  Remember that drivers of vehicles are not infallible, even if pedestrians do have the right of way.</p>

<h4><strong>Obey Traffic Signals at All Times:</strong></h4>

<p>Some intersections have pedestrian signals and some have traffic lights.  You have to make sure to obey the pedestrian rules.  There are intersections where traffic is not controlled by traffic signals.  At such intersections drivers are required to yield the right-of-way to pedestrians within any crosswalk.  It does not matter if the intersection is marked or unmarked.</p>

<h4><strong>Directions to follow at a crosswalk:</strong></h4>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/18-iv_a.jpg" class="img-responsive center-block" alt="Image of a stop light on green with the pedestrian ok signal">
  </div>
</div>

<ul>
  <li>When your signal changes to green or "WALK," you must look left, right, and then left again.</li>
  <li>Always yield the right-of-way to any vehicle at the intersection before the signal has changed to “WALK” or green.</li>
  <li>If the signal begins blinking or changes to "DON'T WALK" or to a flashing hand after you have already walked mid-way across a divided street, you are able to continue walking across the street.</li>
  <li>Do not stop or delay traffic unnecessarily while crossing a street.  Do not give in to distractions such as your cell phone or texting while crossing the street.</li>
</ul>

<p>Unless there is a sidewalk and signs stating pedestrian traffic is permitted, pedestrians are never permitted on toll bridges or highway crossing.  Crossing in such environments is very dangerous and can mean a collision and even a fatality. The same goes for any freeway where signs tell you that pedestrians are not allowed.</p>

<p><strong>Walking at night:</strong></p>

<p>At nighttime, vehicles may have difficulty spotting a pedestrian.  Don’t take chances or take for granted that drivers will be able to see you at night. Make yourself more visible by wearing white or reflective clothing or shoes.  Darker colors may be much less conspicuous at night.  Try wearing clothing made out of light or reflective material.  In areas where it is completely dark, it might even be useful to carry a flashlight or headlamp. Some running clothes are even equipped with blinking red lights on the back of the articles.</p>

<h3><span>B.</span> USING THE SHOULDER OF THE ROAD, FACING TRAFFIC WHEN NO SIDEWALK IS PROVIDED</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/60-iv_b_.jpg" class="img-responsive center-block" alt="Image of a sidewalk closed sign">
  </div>
</div>

<p>When walking on the side of the roadway, you should use the sidewalk.</p>

<p>If there is no sidewalk, then you must abide by the following rules for pedestrians:</p>

<ul>
  <li>If you are walking on a roadway outside of a business or residential district, you must walk close to your left-hand edge of the road.  </li>
  <li>You can use the right-hand edge of the roadway if a crosswalk or other means of safely crossing is unavailable.</li>
</ul>

<h4><strong>Pedestrians and Bike Lanes:</strong></h4>

<img src="../images/curriculum-images/53-iv_c_.jpg" class="img-responsive center-block" alt="Image of a traffic sign saying share the road">

<p>When it comes to bike lanes, do not walk or jog in a bike lane.  If there is no sidewalk and you can do so safely, you may enter the bike lane.</p>

<h3><span>C.</span> PEDESTRIANS WITH WHITE CANES OR SEEING EYE DOGS ALWAYS HAVE THE RIGHT OF WAY</h3>

<p>Drivers must always yield the right of way to pedestrians accompanied by guide dogs or who carry white canes with or without a red tip.  These pedestrians are partially or totally blind and require special accomodations.</p>