
{{>header}}
<main role="article">
  <article role="list">
    <div class="container padding__top--50 padding__bottom--50">
      <div class="row">
        <div class="col-md-12">
          <header>
            <h1 class="text-center">Reset Password</h1>
          </header>
          <hr>
          <div class="row padding__top--50 padding__bottom--50">
            <div class="col-md-6 col-md-offset-3">
            <form>
              <fieldset>
                <div class="form-group">
                   <label for="pwd">New Password:</label>
                   <input ng-model="password" type="password" value="" placeholder="Type Your New Password Here" required>
                </div>
              </fieldset>
              <button type="submit" ng-disabled="Isdisabled" ng-click="submit()">
                Reset
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>

  {{>footer}}
