{{>header}}
<main role="article">
  <article role="list">

    <div class="container padding__top--50 padding__bottom--50">
      <div class="row">
        <div class="col-md-12">

          <header>
            <h1 class="text-center"></h1>
          </header>

          <hr>

          <div class="row padding__top--50 padding__bottom--50">
            <div class="col-md-6 col-md-offset-3 text-center">

              Thank-you!  Your Request has been completed.  We will submit your corrected certificate to your court within 1 business day.


            </div>
          </div>
        </div>
      </div>
    </div>

  </article>
</main>
{{>footer}}
