{{>header}}
    <main role="article">
      <article role="list">

        <div class="container padding__top--50 padding__bottom--50">
          <div class="row">
            <div class="col-md-12">
              <header>
                <h1 class="text--center">Privacy Policy</h1>
                <hr>
              </header>

              <h3>Introduction:</h3>
              <p>This privacy policy governs the information collection practices of this website and all other websites maintained and operated by Hello Officer, LLC. The policy below explains how we collect and use the personal information you provide through the website when interacting with it. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.    </p>

              <h3>Information we collect:</h3>
              <p>We collect certain information from and about our users in three ways: directly from the user (for example, when ordering a product, registering an account, or signing up for a newsletter), from our web server logs, and through cookies and tracking technologies:</p>

              <ol>
                <li><strong>Information provided by users:</strong> During course registration and to process your order, we collect the following types of personally identifiable information: personal data such as your name, address, email address, and phone number; payment information such as credit card numbers and billing addresses; and other demographic information including your zip code, date of birth, and gender.<br>
                    <br>To help accurately process the certificate for your court, we may also collect unique identifiers such as a driver's license number, citation/case number and due date, and County and State information.</p>
                    <br>We will not sell this information to any unrelated third party, nor will we use or disclose this information to promote products or services of an unrelated third party, or in ways different from what are disclosed in this statement. We will deny requests for marketing, scholastic, demographic, or other information requests from entities that could derive commercial or social benefits from such data.
                </li>
                <li><strong>Log Files:</strong> Our web servers automatically collect website usage information from you when you visit our website. In common with the majority of websites you visit, this site employs log files. These log files record data from visitors to this site. The data gathered is non-personal and may include things such as your: Internet protocol (IP) address, browser type, Internet service provider (ISP) name, entry and exit pages, platform type, date/time stamp, and number of clicks. We use IP addresses to analyze trends, administer the site, track customers' movements on the site, and gather broad demographic information for our exclusive use. IP addresses are not linked to personally identifiable information, and we do not store IP addresses in our database. Occasionally, we may disclose aggregate statistics from our logs that do not contain personally identifiable information when dealing with service providers, affiliates, or business partners.</li>
                <li><strong>Cookie/Tracking Technology:</strong> We collect non-personally identifiable information through the use of third party technology, including tracking technology and cookies. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the site, and understanding how visitors use the site.<br>
                    <strong>Cookies.</strong> A cookie is a piece of data stored on the user's hard drive that helps us to improve our service and your experience by customizing the site for visitors. Cookies contain a unique number (your session ID) which allows our server to recognize your computer and "remember" what you've done on the site.
                    Most web browsers automatically accept cookies, but you can usually modify your browser setting to block cookies. Instructions for blocking cookies in your browsers are available at <a href="http://www.allaboutcookies.org/manage-cookies" target="new">http://www.allaboutcookies.org/manage-cookies</a>. If you accept cookies, you can delete them later. Instructions for deleting cookies in your browsers are also available at <a href="http://www.allaboutcookies.org/manage-cookies">http://www.allaboutcookies.org/manage-cookies</a>. If you choose to delete cookies, any settings and preferences controlled by those cookies will be deleted and may need to be recreated. If a user rejects any cookie, he/she may still use our site. Rejecting cookies will not limit the user from any portion of the site.<br>
                    <strong>Web Beacons.</strong> We may also collect non-personally identifiable information using web beacons (also known as "gifs," "pixel tags," and "tracking pixels"). Web beacons are electronic images that may be used in our Services or emails and help deliver cookies, count visits, understand usage and campaign effectiveness, and determine whether an email has been opened and acted upon.
                    <strong><u>Notice to California Residents - "Do Not Track" Signals:</u></strong> The State of California requires commercial website owners and operators to disclose how their website responds to Web browser "do not track" signals. If you have enabled your browser for that purpose, at this time, we do not honor "Do Not Track" requests or change our services or information practices in any way as a result of receiving "Do Not Track" requests from your browser.
                </li>
              </ol>

              <h3>Our Use of Personally Identifiable Information:</h3>
              <p>The information we collect is used to register a customer for a selected course, to process customer payments, to provide you with the course or other product that you have ordered, to send you information about our company and its services that we believe may interest you, and also to help us access your record in case you are experiencing technical difficulties while taking the course. The personally identifiable information we collect online is also used for verification of your identity while taking our online course to prevent fraudulent use and, when applicable, for accurate certificate processing with your court. While taking our course online, verification questions will appear on the screen asking you to identify yourself. The correct answers to the questions are based on the information you provided to us during enrollment. </p>



              <h3>Payment:</h3>
              <p>To process your order, we will ask you to provide personal information including your name, email address, phone number, and credit card billing address. Credit card numbers are used only for processing payments and are not used for any other purposes. Your personal information is used to get in touch with you if we have trouble processing an order. Our website does not save your credit card information after the transaction is processed. Your credit card information is saved by a third party service provider that we use for credit card processing services, and with which we maintain a written agreement to ensure appropriate security and confidentiality measures are in place to safeguard your personal and financial data. We will not authorize the release of your personal or financial information to anyone not directly involved in processing the transaction of your order.</p>



              <h3>Disclosure to Third Parties:</h3>
              <p>We will not share your information with any third party except as outlined within this privacy policy or as required by law. We may share your personal information with Service providers under contract who help with our business operation, such as outside shipping companies to ship orders, third party verification partners to whom data is passed for means of authenticating students throughout the course, and courts (or court assistance agency contracting with your court) for proper paperwork processing and dismissal of traffic citations. </p>
              <p>
              Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with an appropriate law enforcement investigation, current judicial proceeding, a court order, or legal process served on our website, or as required by law.
              </p>



              <h3>Surveys:</h3>
              <p>After the course completion we will request information from users via surveys. Participation in these surveys is required and provided by the California Department of Motor Vehicles and is mandatory for the receipt of your completion certificate. The requested information typically asks the reason for choosing our site, how you heard about our site, level of computer expertise, and means of connecting to the Internet. If you do not wish to provide the information requested, you need only fill in your first and last name to meet the completion requirement.
              </p>



              <h3>Special Notifications:</h3>
              <p>Hello Officer currently sends two types of emails:</p>
              <p><strong>Transactional emails:</strong> Our courses are designed to generate email notifications at certain intervals throughout the course, such as password information, course completion information, transactional confirmations, and notices of updates to our Privacy Policy (if we choose to provide such notices to you in this manner). These emails are exclusively related to the products and services offered through and subscribed to by you on this website.</p>
              <p><strong>Marketing Emails:</strong> Occasionally, you will receive information on special pricing offers and other great deals from Hello Officer.</p>
              <p>You have a right at any time to stop us from contacting you for marketing purposes. You can opt out of all marketing emails by clicking the "Unsubscribe" link at the bottom of the email. If you ask us to remove your name and address from marketing emails, we will maintain your name in a "do not contact" file to ensure that we can honor your request, however it may take up to 10 days to process your request.</p>
              <p>Please be aware that if you opt out of Hello Officer emails, you will still receive transactional emails from Hello Officer for essential communications.</p>

              <h3>Security:</h3>
              <p>This website takes precautions to protect our customers' information. When customers submit sensitive information via the website, the information is secured both online and offline. When a customer is required to enter sensitive information (such as a credit card number), that information is then encrypted and secured during transmission using industry-leading encryption software. You can verify this by looking for a closed lock icon at the bottom of your web browser (while on a secure page such as our order form, the lock icon on the bottom of web browsers such as Google Chrome and Microsoft Internet Explorer becomes locked, as opposed to unlocked or open when you are browsing a non-secure page), or looking for "https" at the beginning of the address of the web page.</p>
              <p>While we use SSL encryption to protect sensitive information during online transmission of the data, we also take precautions to protect customer information offline. All of our customers' hard copy information, encompassing more than the sensitive information mentioned above, is restricted in our offices in locked filing cabinets. Only employees who need the information to perform a specific job are granted access to personally identifiable information. </p>

              <h3>Your Right to Access and Control over Your Personally Identifiable Information:</h3>
              <p>You may opt out of any future contacts from us at any time. You can also do the following at any time by contacting us via the email address or phone number given on our website, or by using the contact information provided in the "Contacting the Website" section of this privacy statement:</p>

              <ul>
                <li>Learn what data we have about you, if any</li>
                <li>Change/correct any data we have about you</li>
                <li>Have us delete any data we have about you, except as required by law</li>
                <li>Express any concern you have about our use or disclosure of your data</li>
              </ul>

              <h3>Links to Other Sites:</h3>
              <p>For your convenience, this site may contain links to other websites. Hello Officer is not responsible for the privacy practices or the content of linked third party websites not administered by Hello Officer, and this Privacy Statement does not apply to these linked websites. Each website should be checked for its own privacy statement.</p>

              <h3> Collection of Information from Children:</h3>
              <p>We do not seek information directly from children. If you are under 13, you should not provide us with any information without the involvement of a parent or guardian. A parent or guardian may register a child age 14 or over to visit or join one of our courses.</p>

              <h3>Notice to California Minors (California Residents under age 18):</h3>
              <p>The State of California requires an operator of an internet website that is directed to CA minors to comply with California S.B. 568 and allow California minors to remove or request and obtain removal of content they posted to a website. If you are a California Resident, under the age of 18, and would like to submit a request to have your content (photos, reviews, testimonials, comments) removed from our website, please contact us at <a>administrator@helloofficer.com</a> or call us at 800-. Please note - This removal process does not ensure complete or comprehensive removal of the content posted on the site or service.</p>

              <h3>Notification of Changes:</h3>
              <p>We may change this privacy policy from time to time. If we make changes, we will post those changes so you are made aware of those changes. Any new policy will not apply retroactively. We will use information in accordance with the privacy policy under which the information was collected.</p>
              <p>If, however, the change expands the ways in which we share users' personally identifiable information that we collect in the future in a manner different from that stated at the time of collection, we will provide users with more prominent notice (such as adding a statement to our home page, or sending users a specific notice through email).</p>

              <h3>Contacting the Website:</h3>
              <p> If you have any questions about this privacy policy, the practices of this site, or your dealings with this site, please contact use via the following methods:</p>
              <p>Send an email to: <a href="mailto:administrator@helloofficer.com">administrator@helloofficer.com</a></p>

              <address>
                6535 Wilshire Blvd., Suite 261<br/>
                Los Angeles, CA  90048
              </address>

            </div>
          </div>
        </div>

      </article>
    </main>
{{>footer}}
