{{>header}}
<main role="article">
  <article role="list">

    <div class="container padding__top--50 padding__bottom--50">
      <div class="row">
        <div class="col-md-12">

          <header>
            <h1 class="text-center">Reset Password</h1>
          </header>

          <hr>


          <div class="row padding__top--50 padding__bottom--50">
            <div class="col-md-6 col-md-offset-3">
              <form>
                <fieldset>
                  <div class="form-group">
                    <label for="email" class="sr-only">Email Address:</label>
                    <input ng-model="email" type="email" id="email" value="" placeholder="Email Address" required>
                  </div>
                </fieldset>
                <button type="submit" ng-click="submit()" ng-disabled="btnDisabled" class="btn primary wider">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>
</main>
{{>footer}}
