

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section III Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> A good way to make sure you stay alert when driving is to:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Try not to set out on a long trip in the late evening.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Make sure you read the labels for any medications you take before driving, as certain prescription and over the counter medications can make you drowsy.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Slap yourself in the face several times so you don’t fall asleep.
				  </label>
				</div>

				<p><span>2.</span> Taking a prescription medication that has not been prescribed to you before operating a motor vehicle is safe as long as::</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> You have taken it before and know how it affects you.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> You have watched someone else take it without problems.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> This is absolutely not safe and should not be done.
				  </label>
				</div>

				<p><span>3.</span> If your brakes are wet, you should carefully and lightly press the gas pedal and brake pedal at the same time.  This will dry the breaks.</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="false"> <span>b.</span> FALSE
				  </label>
				</div>


				<h3>Security Question</h3>
				<p>What is your favorite body of water?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="River"> <span>a.</span> River
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Ocean"> <span>b.</span> Ocean
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Bathtub"> <span>c.</span> Bathtub
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Lake"> <span>d.</span> Lake
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
