

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section VIII Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> Aggressive driving includes which of the following?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Speeding
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Lane blocking
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Singing loudly
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> a and b.
				  </label>
				</div>

				<p><span>2.</span> You should use your horn in the following circumstance:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> To show another driver how frustrated you are.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> To prevent a collision
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> To let others know that you are coming
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> To get someone’s attention
				  </label>
				</div>

				<p><span>3.</span> The best way to avoid frustration on the road is to:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> Give yourself an extra cushion of time
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> Map out alternative routes in case you hit heavy traffic
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> Use public transportation when you experience emotional days
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="d"> <span>d.</span> All of the above
				  </label>
				</div>

				<h3>Security Question</h3>
				<p>What food would you rather eat?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Chocolate"> <span>a.</span> Chocolate
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Pasta"> <span>b.</span> Pasta
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Watermelon"> <span>c.</span> Watermelon
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Salad"> <span>d.</span> Salad
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
