

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section VII Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> When should you attempt to pass multiple cars at once:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> When the car in front of you is too slow
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> When the highway is not too busy
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Never - it is unsafe
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> When the shoulder lane is clear to use
				  </label>
				</div>

				<p><span>2.</span> An important point to remember about making turns is:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> Don’t make a turn if your view is obstructed by bushes, trees, other cars, or hills.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> Making left turns is less dangerous in the country.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> Turning does not require signaling if you are driving during the day.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> None of the above
				  </label>
				</div>

				<p><span>3.</span> Fatal crashes frequently occur during the following times::</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> Rush hour
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> Weekends
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> Late at night
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="d"> <span>d.</span> All of the above
				  </label>
				</div>



				<h3>Security Question</h3>
				<p>Which activity interests you most?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Dancing"> <span>a.</span> Dancing
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Swimming"> <span>b.</span> Swimming
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Writing"> <span>c.</span> Writing
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Singing"> <span>d.</span> Singing
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
