

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section X Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> You should use your headlights:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> On windy mountain roads
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> After sunset
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> When you want to signal to pedestrians to walk faster
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> a and b
				  </label>
				</div>

				<p><span>2.</span> Approximately 8 out of 10 children in a fatal car crash would have survived if they had been in a child safety seat:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="false"> <span>b.</span> FALSE
				  </label>
				</div>

				<p><span>3.</span> Seatbelts:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> Reduce the risk of injury or death
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> Should be periodically checked to make sure they are functioning
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> Are required by law
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="d"> <span>d.</span> All of the above
				  </label>
				</div>



				<h3>Security Question</h3>
				<p>What is your natural hair color?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Red"> <span>a.</span> Red
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Blonde"> <span>b.</span> Blonde
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Black"> <span>c.</span> Black
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Brown"> <span>d.</span> Brown
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
