

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section I Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> Any Driver who is suspected of driving under the influence of drugs will be required to take a blood test to determine drug content unless:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> He or she is a hemophiliac.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> He or she has a heart condition or is taking anti-coagulate narcotics as prescribed by a licensed physician.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> a and b
				  </label>
				</div>

				<div class="explaination">
					<p class="text-danger">The answer is c.  Both persons who are hemophiliacs and those taking prescribed anti-coagulate narcotics for a heart condition can be exempt from taking a blood test when suspected of driving under the influence.</p>
				</div>

				<p><span>2.</span> The number one objective of traffic laws is to prevent collisions, deaths and injuries.</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> True
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> False
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> a and b
				  </label>
				</div>

				<div class="explaination">
					<p class="text-success">Congrats! This is correct.</p>
				</div>

				<p><span>3.</span> The minimum distance for vehicles passing bikes is changing to:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> A passing distance of at least 3 feet
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> A passing distance of at least 6 feet
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> A passing distance of at least 10 feet
				  </label>
				</div>

				<div class="explaination">
					<p class="text-success">Congrats! This is correct.</p>
				</div>


			<div id="reviewSection" class="text-center">
				<p class="h3">Faile Quiz Section I. Please go back and review the course to take the quiz again.</p>
				<button ng-click="prev()">Review Section I</button>
			</div>

			<div id="passedQuiz" class="text-center">
				<p class="h3">Congratualations! You pass the quiz</p>
				<button ng-click="nex()">Continue</button>
			</div>

		</form>

		</article>

    </main>

    </div>
  </div>

