
			<h1>Section II Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> Infractions stay on your public record for:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> 32 months
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> 35 months
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> 36 months
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="d"> <span>d.</span> 45 months
				  </label>
				</div>

				<p><span>2.</span> Collisions are:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Usually preventable
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> Usually on purpose
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> Usually not preventable
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="d"> <span>d.</span> Occur because of bad traffic laws
				  </label>
				</div>

				<p><span>3.</span> Driving carelessly can lead to the following:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="a"> <span>a.</span> Financial consequences
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="b"> <span>b.</span> Insurance rate hikes
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="c"> <span>c.</span> Loss of life or injury
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="d"> <span>d.</span> All of the above
				  </label>
				</div>



				<h3>Security Question</h3>
				<p>What is your favorite shape?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="circle"> <span>a.</span> Circle
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="square"> <span>b.</span> Square
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="rectangle"> <span>c.</span> Rectangle
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="triangle"> <span>d.</span> Triangle
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

