

  <div class="wrap">
    <div class="l-curriculum">

    <main role="article">

		<article>
			<h1>Section IV Quiz</h1>

			<form class="quiz">

				<p><span>1.</span> As a pedestrian, when your signal turns to WALK, you should:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="a"> <span>a.</span> Immediately leave the curb and start walking.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="b"> <span>b.</span> Look left, right, and then left again to make sure it’s safe.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question1" value="c"> <span>c.</span> Allow your pet, if you have one, to go first.
				  </label>
				</div>

				<p><span>2.</span> When walking at night:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="a"> <span>a.</span> Don’t worry because you always have the right of way.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="b"> <span>b.</span> Never cross the street as it is dangerous to cross at night.
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question2" value="c"> <span>c.</span> Try to wear white clothing or clothing made out of reflective material.
				  </label>
				</div>

				<p><span>3.</span> At intersections where traffic is not controlled by signals, drivers must always yield the right of way to pedestrians.:</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="true"> <span>a.</span> TRUE
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="question3" value="false"> <span>b.</span> FALSE
				  </label>
				</div>


				<h3>Security Question</h3>
				<p>What animal would you prefer to be?</p>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Snake"> <span>a.</span> Snake
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Tiger"> <span>b.</span> Tiger
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Squirrel"> <span>c.</span> Squirrel
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="securityquestion" value="Wolf"> <span>d.</span> Wolf
				  </label>
				</div>

			<button ng-click="next()">Submit</button>

		</form>

		</article>

    </main>

    </div>
  </div>
