<h1 class="text--center"><span>V.</span> DRIVING MANEUVERS</h1>
<hr>

<h3><span>A.</span> BACKING</h3>

<img src="../images/curriculum-clipart/clip-art-18.5.jpg" alt="Image of a car going in reverse">

<p>Backing up can be a dangerous maneuver because it is hard to see things that are behind us and our vehicles.   It requires us to turn our bodies in an awkward and often uncomfortable position and many of us would rather not do this and just look into our rearview mirrors without actually turning our bodies.  It is important to take all precautions and see all of the view behind your vehicle before you back up. </p>

<h4>When you are backing out of a parking space, cover all of these points:</h4>

<ul>
  <li>Before you get into the car at all, check in front and behind your vehicle.</li>
  <li>Before moving your vehicle, check to see if there are any children around and, if there are children nearby, know where they are and be aware that they might unpredictably show up behind your car while you are backing up.</li>
  <li>If children are near your car, make sure you can see them before backing up.</li>
  <li>Use all your mirrors while backing up and check them to view the side of your car and behind your car.  Use your side windows as well to see the side of your car.</li>
  <li>Turn your body and check over your right and left shoulders before you start the backing up process. Do this a few times before backing and quickly while backing to make sure things are still safe for you to back up.</li>
  <li>Always exercise patience while backing up and be methodical about it.  Take it very slowly so you can account for all eventualities, and never back out of a driveway or parking spot in haste.</li>
</ul>

<p>For safe backing, make sure all your mirrors and windows are clean and free of debris. This will ensure that you have a clear view of the space behind and to the side of your car. </p>

<h4><strong>Backing up is the one maneuver where holding the wheel with one hand is more beneficial.  Turn your body and follow the directions below.</strong></h4>

<img src="../images/curriculum-clipart/clip-art-18.5.1.jpg" alt="Image of a driver reversing from the interior of car">

<ul>
  <li>Position your left hand at the 12 o’clock position on the steering wheel.</li>
  <li>Drape your right arm across the back of the passenger side seat.</li>
  <li>Look over your right shoulder to view what is behind you.</li>
</ul>

<p>Use the brake frequently to make sure you are backing up slowly and deliberately with the utmost caution.  Backing up into a busy roadway is a very precarious situation, but necessary at times.  Many of us may become very nervous during this situation, and suddenly become scared by a fast-approaching vehicle.  Stopping the car by slamming on the brakes may be our first, instinctive reaction. Make sure that your foot does not hit the accelerator by mistake instead of the brake.  This will cause your car to accelerate into the oncoming traffic.  In order to avoid this, place your foot on or above your brake pedal when backing your car into traffic and allow your car to travel no faster than idling speed. Do not place your foot on the accelerator unless you need to lightly add some momentum, but then place your foot back on or hovering over your brake pedal.</p>

<h4><strong>Don’t forget to look forward!</strong></h4>

<p>Most of your attention should be on what is behind your car, but don’t forget that it is important to be aware of what is going on all around your car at all times.  This is why we look in our rear view mirrors while traveling forward as well – to be aware of what is going on around our vehicle.  Obviously the direction that you are traveling in is the one you should pay most attention to, but quickly scan in front of and around your car at times while backing up as well.</p>

<h3><span>B.</span> LANE CHANGE</h3>

<p>When you drive, this is one of the most frequent maneuvers you will have to perform.  One major reason why accidents happen is that drivers change lanes hastily without checking for oncoming cars in the lane they want to change into.  The goal of any driver should be to avoid collisions.  Paying special attention to changing lanes safely is important.</p>

<p>Weaving in and out of lanes of traffic is unsafe, so of course you should avoid this. However, there are times that it is necessary to change lanes.  Never change multiples lanes at once – always change lanes one at a time.  Here are some good examples of appropriate reasons to change lanes:</p>

<ul>
  <li>Your lane is coming to an end.</li>
  <li>You plan to turn at an upcoming intersection or exit off a freeway that requires you to be in another lane.  Change lanes one at a time.</li>
  <li>You are coming upon some obstacles in your lane such as a stalled vehicle, an accident, dangerous debris, etc.</li>
  <li>There is a vehicle driving in front of you that is traveling below the speed limit and you want to pass in a safe manner.</li>
</ul>

<p>There will always be instances when you need to put off or adjust your lane change. Never change lanes in a hurry and without confirming that it is absolutely safe.  It doesn’t matter if you miss your exit or your turn, never make a hurried or unsafe lane change. You can always take the next exit and turn around. Trust us, this will cause you a lot less grief and money than an unsafe lane change in which you can get into a collision or get a ticket.</p>

<h4>What do we mean when we talk about changing lanes? Here is what lane changing includes:</h4>

<ul>Changing from one lane into an adjacent lane</ul>
<ul>Entering the freeway from an on-ramp</ul>
<ul>Re-entering the road from a shoulder or the curb</ul>
<ul>Exiting the road onto a shoulder or curb</ul>

<h4>Before you begin to change your lane, signal in the direction of the lane you want to enter, look in all your mirrors, and:</h4>

<ul>
  <li>Check your rearview mirror to see traffic behind and beside you.  You need to observe traffic beside you to make sure there is enough space in the lane to accommodate your vehicle and to make sure nobody in an adjacent lane intends to change into the same lane and space as you do.  If you both are vying for the same spot in the same lane, you will get into a collision with them!  It’s important to check behind you to make sure nobody behind you is coming up quickly and indicating their intention to change into the same lane. Changing lanes in this scenario could result in your vehicle being rear-ended.</li>
  <li>Glance over your left or right shoulder to make sure the lane you want is clear. Just as in backing up, this means moving your body and turning your gaze in that direction.</li>
  <li>Look for all vehicles, motorcyclists, and bicycles in your blind spots.  The blind spots are the spots to the sides of the vehicle and slightly behind where your back windows are.  You are not able to see this spot just by using your mirrors, and you must turn your body to see it. Each time you change lanes, you must check to make sure this spot is clear.  Many accidents happen because people don’t check their blind spots.</li>
  <li>Be sure there is enough room for your vehicle in the next lane.  At times other vehicles may slow down so that you can fit in front of them.  Make sure there is enough space so that you don’t cause a collision.</li>
</ul>

<h4><strong>BLIND SPOTS</strong></h4>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/54-v_b_-blind-spots.jpg" class="img-responsive center-block" alt="Image of a rearview mirror on a car showing a cars blind spot">
  </div>
</div>

<p>Blind spots are tricky and many collisions occur when lane changers do not take heed of vehicles in their blind spots.  If there is a car in your blind spot in the lane you want to maneuver your vehicle into, speed up or slow down to make sure that you create enough space for you to change lanes. Use your mirrors frequently when making lane changes, but most importantly, you must also look over your shoulder to check your blind spots. Blind spots cannot be seen with your mirrors. If you look over your shoulder and there are no vehicles in your blind spots, then you can safely make the lane change.</p>

<p><strong>NOTE:</strong> Never change lanes as you are driving through an intersection or approaching an intersection. You should always wait until you pass through the intersection to make a lane change. Although it is technically legal to change lanes in an intersection, it is highly dangerous.   At intersections, there is already a threat of a collision due to multiple other factors without the added threat of vehicles changing lanes.</p>

<h3><span>C.</span> PASSING</h3>

<p>Passing can be one of the most dangerous maneuvers you will ever have to perform while driving.  Keep your eyes and ears open and don’t underestimate the potential perils of passing another car on the road or a highway.</p>

<p>If you are thinking about passing, make sure to first look ahead for road conditions and traffic that might potentially make other vehicles move into your lane.</p>

<p>Another very important point about passing:  Under no condition should you drive off the paved section of the road or onto the shoulder to pass another vehicle. You will be able to decipher the demarcation of the paved or main part of the road because it usually will have a painted white line on the road's surface.</p>

<p>It is not safe or legal to pass another vehicle under the following conditions:</p>

<ul>
  <li>When approaching a curve in the highway where your view is obstructed within such a distance as to pose a hazard.  Another vehicle might be approaching from the opposite direction, and you may not see it in time.  Make sure you can always see far enough down the other side of the roadway to be certain you have enough room to pass. (See below for information on how much time it takes to pass at varying speeds.)</li>
  <li>When your view is obstructed while approaching within 100 feet of any bridge, viaduct, or tunnel.</li>
  <li>When approaching within 100 feet of or when crossing over any railroad grade crossing.</li>
  <li>When approaching within 100 feet of or when crossing any intersection.</li>
  <li>You may not pass another vehicle if the vehicle has stopped at a marked or unmarked crosswalk at an intersection to wait for a pedestrian to cross the road.</li>
</ul>

<h4>Typically you would always pass traffic on the left. The following circumstances are when you may pass on the right:</h4>

<ul>
  <li>An open highway is specifically marked for two or more lanes of travel in the direction that you are going in.</li>
  <li>The vehicle ahead of you is turning left.  If you pass on the left, obviously you will end up in a collision.  Never pass on the left if the driver is signaling a left turn.</li>
</ul>

<p>When passing always signal before you do.  Make certain that you have enough space to pull back into your lane before you initiate a pass.</p>

<h4><strong>ON TWO LANE ROADS:</strong></h4>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/36-v_c_.jpg" class="img-responsive center-block" alt="Image of a highway on a bridge over the ocean">
  </div>
</div>

<p>Passing other vehicles on a two lane road with motorcycles and bicycles nearby is dangerous and should be avoided.  You are putting yourself and others at risk for collision when you do this.  At times it may be safe to pass a bicyclist.  If you do decide to do this after making absolutely sure it is safe to do so, you must practice patience. Slow down considerably and try not to startle or frighten the bicyclist.  Remember that bikers are much more vulnerable than people in cars and could be more prone to being startled.  Never push the bicyclist off the road.</p>

<p>If you are driving on the highway at 50-55 miles per hour, you will need a 10-12 second gap in oncoming traffic in order to pass the other vehicle safely and avoid a collision. This is because at 55 mph, you can travel over 800 feet in 10-12 seconds. This does not just apply to your vehicle, but also to the oncoming vehicles. What this means is that you will require 1,600 feet (or about one-third of a mile) to safely pass another vehicle. Remember that it is usually more difficult to gauge the speed of oncoming vehicles traveling one-third of a mile or more in the distance.</p>

<p>Carefully gauge the gap needed for passing and the time that it takes to pass when you approach the following: any oncoming vehicle, a hill, a curve, an intersection or a road obstruction.</p>

<p>Once you have passed and are going to return to your lane, make certain you have passed the vehicle you were trying to pass completely and that you are not too close to the vehicle you passed.</p>

<ul>
  <li>Search for the vehicle you just passed in your inside rear view mirror. </li>
  <li>Make sure that both headlights of the car you passed are in your rear view mirror.  Once you can see both headlights then that means you have enough room to return back to your original lane. </li>
  <li>Never attempt to pass several vehicles at once or count on the fact that other drivers will make room for you to pass.</li>
</ul>

<h4><strong>ONE WAY STREETS:</strong></h4>

<p>You will be able to pass on either side in a one way street, however, this does not mean that you can change lanes carelessly and pass anytime you want. Make your presence known by other drivers so that you can ensure safe passing.  The driver that you are passing may not be aware of your presence.</p>

<h4><strong>BEING PASSED:</strong></h4>

<p>You should always be aware of vehicles that are trying to pass you. Check your mirrors often and maintain awareness of the space surrounding your vehicle. When a vehicle starts passing yours, it is generally a good idea to move into far right side of the lane, if you can do so safely. Never speed up when another vehicle is trying to pass yours.</p>

<h4><strong>A NOTE ON PASSING TRUCKS:</strong></h4>

<p> If you are planning to pass a large truck, you must do so on the left side.  After you have completed your pass, move ahead and do not linger. Lingering will cause less reaction time for the driver of the truck in case he/she needs to take evasive action against an obstacle in the road.  This is a delicate maneuver that needs to be done effectively and quickly.</p>

<h3><span>D.</span> RECOVERING FROM HYDROPLANING</h3>

<h4><strong>WHAT IS HYDROPLANING?</strong></h4>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-clipart/clip-art-14.jpg" class="img-responsive center-block" alt="Traffic sign for Hydroplaning">
  </div>
</div>

<p>Hydroplaning is a condition that occurs when water builds up in front of a car's tires between the rubber and the surface of the road. When this happens, water pressure builds in front of the tire and forces a layer of water under the tire itself.  This reduces the friction between the tire and the road’s surface and causes loss of control of the vehicle.  Driving in heavy rain at 30 mph or more can cause your tires to lose all contact with the road at which point your car will be riding on water and not the road itself.  This can be a very scary feeling, and if all four wheels undergo hydroplaning, it can be a dangerous situation.  </p>

<ul>
  <li>First and foremost, you must remember to keep a cool head.  If you lose control of your emotions, you will not fare well in this situation. </li>
  <li>Gently ease your foot off the gas pedal and steer your vehicle carefully in the direction of the skid. Do this until you can feel your tires on the surface of the ground again.</li>
  <li>Reduce your speed and be alert to avoid skids.  Maintain only a slight pressure on your brake or gas pedals. Avoid sudden acceleration and braking. </li>
  <li>If you need to brake, do so in gentle pumps; if your car has anti-lock brakes, you do not have to pump.  Just brake normally. </li>
  <li>Be certain that you don’t lock the wheels.  This will throw your car into a skid.</li>
  <li>Do not make any abrupt turns.  It might throw your car off-course.</li>
</ul>

<h4><strong>SKIDDING</strong></h4>

<p>If you find your car going into a skid, take a deep breath and stay calm.  Slowly release the gas pedal.  Try not to panic.  Steer your vehicle so that the front of your vehicle is traveling in the direction of the skid.  If you have anti-lock brakes, you can brake firmly as you drive into the skid.  If you do not have antilock brakes, do not brake at all.</p>

<h4><strong>Specific hydroplaning conditions and how to handle them:</strong></h4>

<ul>
  <li>When driving straight, your car might feel loose and start to veer to a side direction. Try using larger steering motions to gain control over the vehicle.  Steer so that the front of your car travels straight.</li>
  <li>If your drive wheels start to hydroplane you will see an increase in your speed and engine RPM due to your tires starting to spin. You may also notice your vehicle start to slip towards the outside of the bend.  To counteract this, release the gas pedal to slow down, and steer your car in the direction of the skid until regaining control of the vehicle.</li>
  <li>In the case that you back wheels hydroplane, the rear of your vehicle will start to veer sideways into a skid. In this case, you should again steer your tires in the direction of the skid.  This will help the rear tires to stop hydroplaning and regain contact with the ground. Then quickly start steering in the opposite direction which will straighten out your vehicle.</li>
  <li>In the case where all four wheels hydroplane, your vehicle will slide forwards like a giant sled.  Remain calm and focus.  Release the gas pedal and slow down, continue controlling the steering wheel in the direction of the skid. Keep your vehicle straight and your hands on the wheel so that when your tires regain contact with the road, you will be prepared to drive straight.</li>
</ul>

<h3><span>E.</span> RECOVERING FROM FISH-TAILING</h3>

<h4><strong>What is Fishtailing?</strong></h4>

<p>Fishtailing happens when the rear wheels of a vehicle lose traction.  This problem can be created by surfaces that allow the car’s wheels to lose contact with the ground. For example: sand, gravel, rain, snow, ice, etc.  Some vehicles which have rear-drive might experience this loss of traction on any surface, which is called power-over steer.</p>

<p>During fishtailing, the rear end of the car skids to one side.  Over-correction will result in a skid in the opposite direction.  If you leave the situation unhandled then the worst that can happen is that your vehicle will spin completely.</p>

<p>Fishtailing happens frequently in snow or ice, but it does not have to mean doom.  If you know how to handle your vehicle in this situation, you will most likely get out unscathed, so don’t panic if you start to fishtail.</p>

<h4>Follow these steps to get yourself out of a mess:</h4>

<ol>
  <li>As soon as you notice that your tires have lost traction with the road, immediately take your foot off of the accelerator. Taking your foot off of the accelerator will automatically bring down your speed.  Sometimes this alone will be the only maneuver that you need to perform in order to regain control over your vehicle.</li>
  <li>While staying calm and keeping your focus on the situation at hand, slowly turn the steering wheel in the direction the rear of the car is moving in order to straighten out. So if the rear end of the car is moving to the left, steer your vehicle to the left.</li>
  <li>Don’t steer too drastically or too quickly.  In other words, don’t overcompensate because that could worsen the problems. Steer slowly in the direction that your car’s rear tires are skidding.</li>
  <li>If your car’s rear fishtails from left to right multiple times, don’t panic.  This is common.  Stay calm and keep steering in the direction of the rear end until your vehicle straightens out.</li>
  <li>After going through such a taxing experience, you might need to take some time to collect yourself.  This would be a great time to use whichever relaxation techniques work best for you, such as breathing or visualization exercises, calling a loved one, etc. If you need a long period of time to calm down, or your method of relaxing requires your eyes and/or mind to be distracted from the road, then pull your vehicle over to a safe location and relax for as long as you need in order to return to a normal state. You may also take this time to explore your vehicle for any potential damage that it might have incurred during the skid.</li>
</ol>

<h3><span>F.</span> RETURNING TO ROAD FROM UNEVEN SURFACE</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="../images/curriculum-images/37-v_f.jpg" class="img-responsive center-block" alt="Image of a busy highway">
  </div>
</div>

<p>There will be times when you need to pull off of the road on a highway or freeway.  Maybe you have been pulled over by police, maybe your vehicle is experiencing a problem or perhaps you need to change your tire.  In such cases, you will need to drive onto an uneven surface and then back onto the road once you have resolved your problem and are ready to continue driving. </p>

<p>Knowing how to safely drive a car off the road and back onto it is an important skill for all drivers. Nearly every driver will, at some point in their life, encounter a situation in which they must drive off the road. Aside from the emergency situations, you might at times sway and accidentally drive off the road for a second, and then have to recover and steer back onto the road.  Knowing how to skillfully handle this maneuver will help you to avoid a crash.</p>

<p>Many fatalities in crashes are caused by a vehicle that rolls over during the crash. In many cases, rolling over happens when a driver who has driven off the road jerks the steering wheel to correct his/her position. This could cause the vehicle to flip over and flipping over usually causes serious injuries or death.  Rarely does flipping over not cause such a problem.  Therefore you can see that it would be very important to know how to handle your vehicle in this situation.</p>

<h4><strong>How to Drive Off and On the Road Safely</strong></h4>

<p>The trick to maneuvering safely off the road and then returning safely back onto the road involves slowly and gradually moving off and back on the road. The turning of the steering wheel should be subtle and gentle. This reduces the chance of your vehicle behaving in a manner that is dangerous when your tires encounter an uneven or unpaved shoulder.</p>

<p><strong>When driving off the road:</strong></p>

<ul>
  <li>Turn the wheel slightly to the right so that both of your right-side tires exit the road at once. </li>
  <li>DO NOT BRAKE. </li>
  <li>Your feet should be off of both the brake and the accelerator pedals.</li>
  <li>Turn the wheel slightly back to the left so that your car is driving parallel to the road.</li>
  <li>Start braking and ease the two left wheels off of the road.</li>
  <li>Steer straight and come to a stop.</li>
</ul>

<h4><strong>When re-entering the road:</strong></h4>

<p>Getting back on the road safely involves slowly moving the front wheels into the road first, and then bringing each of the back wheels on after that.</p>

<p>When all four wheels are off of the road surface and you are traveling parallel to the road:</p>

<ul>
  <li>Steer gently to the left until you feel the FRONT LEFT TIRE enter the road.</li>
  <li>Straighten the car now by steering gently back to the right (counter steer).</li>
  <li>At this point, the REAR LEFT TIRE will have entered the road.  Steer gently to the left now until both of your right wheels are back on the road.</li>
  <li>As soon as they enter the road, steer gently back to the right.</li>
  <li>Straighten out the car in the middle of the lane.</li>
</ul>

<h4><strong>What to do if you run off the paved surface:</strong></h4>

<ul>
  <li>Make sure you maintain a firm grip on the steering wheel.  This will help you keep your vehicle travel straight. </li>
  <li>You will need to fight the tendency of the wheels to pull you to the right of the shoulder at times.  </li>
  <li>You should never whip the vehicle back onto the pavement. </li>
  <li>Ease off the accelerator and slow your vehicle down gradually.  </li>
  <li>Try not to brake if at all possible. If you absolutely have to brake, use a gradual braking method which will help you to maintain control.  </li>
  <li>Once your vehicle has slowed, you can safely return to the road using the method for re-entering the road mentioned above.</li>
</ul>

<p>Before returning to the pavement, always scan ahead and to the sides and to the rear of your vehicle.  AVOID TRYING TO RETURN TO THE ROAD IMMEDIATELY.  If you rapidly steer your car back you could lose control of your vehicle.  </p>
