    <main role="article">
       <article>

       <div>
         <h1 class="text--center"><span>XI.A.3.o &nbsp</span>Signs and Signals</h1>
         <hr>
          <p>
             Among the most important things to know about when driving are signs and signals.  You will encounter these frequently on every kind of roadway.  Let’s highlight some of the most common signs and signals so that when you encounter them, you know exactly what they mean.

          </p>
       </div>
       <div>
           <div><h4><span>Red and White Regulatory Signs</span></h4></div>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/1.tif" alt="Red and White Regulatory Signs"  width="150" />
             </div>
             <div class="col-sm-10">

                    These signs can include “STOP” signs and “NO TURN” signs.  These are red and white in color with varying shapes.

             </div>
          </div>
          <div>
            <span><p>
              The NO LEFT TURN sign above, typically found at intersections, will let you know that you are not allowed to make a left turn onto a particular roadway.  A similar sign is presented for no right turns, and no U-turns.
            </p></span>
          </div>

       </div>


       <div>
            <div><h4><span>White Regulatory Signs</span></h4></div>
            <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/2.tif"  alt="Red and White Regulatory Signs"  width="150" />
             </div>
             <div class="col-sm-10">
                <p>
                    These signs are typically white and will alert you to various restrictions on the roadway.  They cover everything from parking restrictions to legal turns at an intersection.  Let’s go over a few of these.
                </p>
                <p>
                   The sign pictured above lets the driver know that only left turns are allowed in a particular lane.
                </p>

             </div>
          </div>
          <br/><br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/3.tif"  alt="Red and White Regulatory Signs"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                    A speed limit sign lets the driver know what the maximum allowed speed limit is for a particular roadway.  Keep your eye out for these important signs.
                 </p>

             </div>
          </div>
          <br/><br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/4.tif" alt="Red and White Regulatory Signs" width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                    The sign pictured above is a “one way” sign.  This sign lets drivers know that traffic on the street they are coming upon only traverses in one direction.  In the case of the above sign, traffic on the roadway only traverses right, not left.  If you try to go left on such a roadway, you could cause a head-on collision.
                 </p>
             </div>
          </div>

          <br/><br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/5.tif"  alt="Red and White Regulatory Signs"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                  The white regulatory sign above alerts drivers that they are not allowed to park at any time at a particular location.  If you see this sign, you may not park.  Your car may be cited or towed if you do park.
                 </p>
             </div>
          </div>
       </div>

  <br/>
       <div>
           <div><h4><span>Construction and Maintenance Signs</span></h4></div>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/6.tif" alt="Construction and Maintenance Signs"  width="100%" />
             </div>
             <div class="col-sm-10">
                 <p>
                    Highway construction and maintenance signs pictured above are typically orange and may or may not appear along with orange traffic cones.  These signs alert drivers that a particular section of a highway is being repaired, rebuilt, or otherwise worked on.  Many traffic violations (including right of way violations, illegal turning, and speed limit) committed by the driver of a vehicle within a highway construction or maintenance area, in a misdemeanor case, are charged at double the normal amount. So be careful when you see these signs, slow down, and adopt safe, legal driving practices.
                 </p>
             </div>
          </div>
       </div>


       <div>
           <div><h4><span>Guide Signs</span></h4></div>
           <div class="row">
               <p>
                   These are signs that let us know what amenities, resources and important establishments may exist in a particular area.  The following are examples of such signs.

               </p>
           </div>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/7.tif" alt="Green General Signs"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                   The green general information sign above let’s you know that there is an airport in the area or coming up ahead.  These signs help drivers get to where they need to go, and let them know what is in the area.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/8.tif" alt="Recreation Sign"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                   The recreation sign above lets drivers know that there is a playground coming up ahead or nearby.  This an example of the many signs that can alert to drivers to be aware that there may be children around and to drive accordingly.
                 </p>
             </div>
          </div>
       </div>
<br/>
       <div>
           <div><h4><span>Hazardous Loads Placards</span></h4></div>
          <div class="row">
             <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                          <img src="../images/xi/9.tif" alt="Hazardous Loads Placards"  width="150" />
                    </div>
                    <div class="col-sm-6">
                        <img src="../images/xi/10.tif" alt="Hazardous Loads Placards"  width="150" />
                    </div>
                </div>
             </div>
             <div class="col-sm-6">

                  Qualified vehicles are able to transport hazardous materials.  Hazardous materials include explosives, various types of gas, solids, flammable and combustible liquid, and other materials.  They are required to display a hazardous loads placard to inform other drivers they are carrying a potentially dangerous load.  Below are examples of such placards.

             </div>
          </div>
       </div>
<br/>
       <div>
           <div><h4><span>Warning Signals</span></h4></div>
           <div>
               <p>
             Warning signals are typically yellow, and warn drivers of potentially precarious situations.  They also let drivers know what is coming up on the road so they can be aware and drive accordingly.  Let’s look at some of these signs.
              </p>
          </div>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/11.tif" alt="Warning Sign"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                   When you see the above warning sign, it means that there is a traffic signal coming up ahead.  It alerts the driver that they may need to slow down to stop for the signal.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/12.tif" alt="Warning Sign"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                   The above sign lets drivers know that the roadway they are traversing is a winding road and that they should slow their vehicles.  The sign above is typically posted along with speed limit signs.  Drivers must slow down considerably on windy roads.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/13.tif" alt="Warning Sign"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                   The sign above is an alert that a particular road is especially slippery when wet, and that drivers must slow down if it is raining or if the road is wet for any reason.  Wet roads can lead to hydroplaning, skidding and present a hazardous road condition.
                 </p>
             </div>
          </div>
       </div>


<br/>
        <div>
           <div><h4><span>Watch for Shapes and Colors!</span></h4></div>
           <div>
             <p>
                The shape and color of signs are clues regarding the information the sign is alerting you to. Here are the common shapes used:
             </p>
           </div>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/14.tif" alt=" Stop Sign"  width="150" />
             </div>
             <div class="col-sm-10">

                   A STOP sign has eight sides and is red.  It indicates that you must make a full “STOP” at any white limit line (a wide white line painted on the street) or before entering a crosswalk. If a limit line or crosswalk is not painted on the street, a stop sign means that you must stop before entering the intersection. After you come to a full stop, check for traffic and pedestrians in all directions before proceeding.

             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/15.tif" alt=" Yield Sign"  width="150" />
             </div>
             <div class="col-sm-10">
                 <p>
                  A three-sided red YIELD sign means you must slow down considerably and be ready to stop if necessary.  You must let any vehicle, bicyclist, or pedestrian pass before proceeding.
                 </p>
             </div>
          </div>
          <br/>

          <div class="row">
             <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                          <img src="../images/xi/16.tif" alt="Square Red Sign"  width="120" />
                    </div>
                    <div class="col-sm-6">
                        <img src="../images/xi/17.tif" alt="White Regulatory Sign"  width="150" />
                    </div>
                </div>
             </div>
             <div class="col-sm-6">
                 <p>
                 Square red and white regulatory signs’ instructions must be followed. The DO NOT ENTER sign pictured above means: do not enter any roadway or off-ramp where the sign is posted.  The WRONG WAY sign may or may not be simultaneously posted along with the DO NOT ENTER sign. If you see one or both of these signs, you must immediately drive to the side of the road and stop. It means you are or will be going against traffic. Back out or turn around to return back to the roadway you were on. If you are traveling at night and are going the wrong way, the road reflectors will shine red in your headlights.
                </p>
             </div>
          </div>
          <br/>

          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/18.tif" alt="U-turn Sign"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                 The no U-turn sign above is an example of a sign with a red circle with a red line through it.  It always indicates “NO.” The picture inside the circle depicts what you are not allowed to do.
                 </p>
             </div>
          </div>
          <br/>

          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/19.tif" alt=" Yellow and black circular Sign"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                The Yellow and black circular sign pictured above means you are approaching a railroad crossing.
                 </p>
             </div>
          </div>

          <br/>

          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/20.tif" alt=" RAILROAD CROSSING Sign"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                      White and black X-shaped signs that state <b>RAILROAD CROSSING</b>indicate that you must keep your eyes out for a railroad crossing ahead.  You must be aware, listen, slow down, and prepare to stop if necessary for a train to pass.
                 </p>
             </div>
          </div>

          <br/>

          <div class="row">
             <div class="col-sm-2">
                <img src="../images/xi/21.tif" alt="Five-sided Sign"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                      Five-sided signs mean you are near a school. If children are in the crosswalk, wait for them to pass before proceeding.
                 </p>
             </div>
          </div>

          <br/>
           <div class="row">
               <h5>
                    Additional signs:
               </h5>
                <p>
                      Four-sided, diamond-shaped signs warn you of certain road conditions and dangers ahead of you. A lot of warning signs are typically diamond shaped.
                 </p>
                 <p>
                   White rectangular signs mean you must obey important rules.
                 </p>
                 <p>
                    Warning signs that have a fluorescent yellow-green background warn of situations related to schools, playgrounds, school buses, school passenger loading zones pedestrians, and bicyclists.
                 </p>
                 <p>
                    Regardless of signs shape and color, it is your responsibility as a driver to obey all warning signs.
                 </p>
           </div>
       </div>

       <div>
           <div><h4><span>Traffic Signal Lights</span></h4></div>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/22.tif" alt="Solid Red"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Solid Red:</b>  A red signal light means "STOP." A right turn against a red light is allowed after you stop then yield to pedestrians, bicyclists, and vehicles nearby. Do not turn if a "NO TURN ON RED" sign is posted.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/24.tif" alt="Red Arrow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Red Arrow:</b>  This means "STOP." Turning against red arrows is illegal.  You can turn when the arrow turns green.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/25.tif" alt="Flashing Red"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Flashing Red:</b> A flashing red light means "STOP." After stopping, observe all right of way rules, and proceed with caution.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/26.tif" alt="Solid Green"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Solid Green:</b>A green light means “GO.” For left turns, make the turn only if you have enough space to complete the turn.  Yield to any oncoming vehicles, bicyclists, or pedestrians. Make certain that you are able to get completely across before the light turns red. Vehicles blocking intersections are in violation of the Anti-Gridlock law and will be given a citation.
                 </p>
             </div>
          </div>
          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/27.tif" alt="Green Arrow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Green Arrow:</b>  A green arrow means “GO.” Turn only in the direction the arrow is pointing. Make sure to watch for any vehicle, bicyclist, or pedestrian still clearing the intersection before turning. The green arrow light lets you make a “protected” turn. This means that oncoming vehicles, bicyclists, and pedestrians have a red light or Do Not Walk sign activated as long as the green arrow is lighted.
                 </p>
             </div>
          </div>

          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/29.gif" alt="Solid Yellow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Solid Yellow:  </b>A yellow light means "CAUTION." The light is about to turn red. Yellow lights mean prepare to stop. You should stop before entering the intersection if you are able to do so safely.  If you cannot stop safely, you may carefully cross the intersection.
                 </p>
             </div>
          </div>

          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/30.tif" alt="Yellow Arrow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Yellow Arrow:  </b>A yellow arrow signals that the "protected" turning time period is about to end. Get ready to heed the next signal, possibly the green or red light or the red arrow.
                 </p>
             </div>
          </div>

          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/31.tif" alt="Flashing Yellow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Flashing Yellow:</b>A flashing yellow light means "PROCEED WITH CAUTION." It is not necessary to stop for a flashing yellow light, however you must slow your vehicle and remain alert when entering the intersection.
                 </p>
             </div>
          </div>

          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/32.tif" alt="Flashing Yellow"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Flashing Yellow Arrow:</b>The yellow light pictured above means that unprotected turns are allowed, however you must first yield to oncoming traffic and pedestrians and then proceed with caution.
                 </p>
             </div>
          </div>

          <br/>
          <div class="row">
             <div class="col-sm-2">
                  <img src="../images/xi/33.tif" alt="Traffic Signal Blackout"  width="150" />
             </div>
             <div class="col-sm-8">
                 <p>
                    <b>Traffic Signal Blackout:</b>The traffic signal light is not working. When this happens, you must yield the same way you would as if the intersection is controlled by a four way “STOP” sign.
                 </p>
             </div>
          </div>

       </div>

   </article>
</main>