.m-app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	background-color: #f5f5f5;
	border-top: 1px solid $gray_light;
	header {
		width: 100%;
		.m-brand-sm {
			width: 30%;
			display: inline-block;
		}
		ul {
			@extend .list-inline, .text-right;
			display: inline-block;
			margin: 0;
			width: 65%;
			li {
				font-size: .85em;
				text-transform: uppercase;
				font-weight: 700;
				color: $brand_primary;
				letter-spacing: .2em;
			}
		}
	}
	.app-menu {
		ul {
			@extend .list-inline;
			margin: 0;
			li {
				padding: 0;
				margin-right: -5px;
				width: 50%;
				button {
					width: 100%;
					padding: 20px;
					font-size: 1.5em;
					font-weight: 300;
					background-color: #fff;
					border: 1px solid $gray_light;
					color: $brand_primary;
					box-shadow: none;
					height: inherit;
					margin-bottom: 0;
					&:hover {
						background-color: $brand_primary;
						color: #fff;
					}
					&:active {
						background-color: darken(#337ab7, 10%);
						border: none;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}