<footer role="contentinfo" class="m-app-footer">


  <div class="app-menu">
    <ul>
      <li ><button ng-click="prev()" ng-hide="BackBtnDisabled" >&#60; back</button></li>
      <li ng-hide="ContinueBtnDisabled"><button ng-click="next()" class="btnContinue"> continue &#62;</button></li>
    </ul>
  </div>
</footer>

    <button type="button" id="openBookToggle" class="round" role="button"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="left"
            title="Open Book"
            data-content="Click here to peek at the course.">
            <i class="fa fa-book" ></i>
    </button>

    <div id="openBook" class="side_drawer">
      <button class="btn primary" id="closeBook">X</button>
      <button class="btn primary" id="TableOfContents">Table of Contents</button>
      <hr/>


      <!-- searchbar -->
      <div ng-controller="searchBookCtrl">
        <div class="row">
           <form name="openBookSearch" ng-submit="searchKeyword()">
               <div class="col-sm-6">
                <input type="text" id="keyword_" placeholder="Search" class="form-control" ng-model="keyword" />
               </div>
               <div class="col-sm-1">
                  <button id="searchTheKeyword" type="submit" class="btn btn-info btn-sm" style="height:35px;">
                          Search
                  </button>
              </div>
           </form>
        </div>
        <div class="row">
             <div class="col-sm-12" id="SearchResults"></div>
        </div>
      </div>
      <!-- searchbar end -->


      <div ng-controller="openBookCtrl">
        <div ng-include="ContentLink" id="bookPage" onload="shadeIfKeyword()"></div>
      </div>

      <div id="bookContent">
        <!-- Load Curriculum Here -->
        <h1>Table of Contents</h1>

        <ol class="table-of-contents">
          <li><span>i.</span> <a href="#" class="openChapter" data="introduction">Introduction</a>
            <ol>
              <li><span>A.</span> Course Objectives
                <ol>
                  <li>Reduce traffic collision involvement</li>
                  <li>Reduce traffic law violations</li>
                  <li>Reemphasize the responsibilities associated with operating a vehicle</li>
                </ol>
              </li>
              <li><span>B.</span> Course Requirements
                <ol>
                  <li>Attend (all of the) class</li>
                  <li>Participate/be mentally present</li>
                  <li>Pass final examination</li>
                  <li>Complete the DMV course evaluation form</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>I.</span>
          <a href="#" class="openChapter" data="i-recent-changes-reasons-for-traffic-laws">Recent Changes/Reasons for Traffic Laws</a>
            <ol>
              <li><span>A.</span> Recent Changes And The Reasoning Behind Them
                <ol>
                  <li>Recently passed/changed traffic related laws</li>
                  <li>Changes to technology</li>
                  <li>Changes in driving techniques</li>
                </ol>
              </li>
              <li><span>B.</span> Reasons For Traffic Laws
                <ol>
                  <li>Safety</li>
                  <li>Common understanding</li>
                  <li>Keeping order and movement in traffic</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>II.</span> <a href="#" class="openChapter" data="ii-careless-driving-and-its-consequences">
             Careless Driving and its Consequences
          </a>
            <ol>
              <li><span>A.</span> Damage To Or Loss Of Vehicle</li>
              <li><span>B.</span> Injury Or Death To You, Passengers, And/or Others</li>
              <li><span>C.</span> Possible Auto Insurance Increase</li>
              <li><span>D.</span> Financial Impact/legal Actions/dmv Actions</li>
              <li><span>E.</span> Impact On Quality Of Life</li>
              <li><span>F.</span> Contributing Factors Can Cause Collisions</li>
              <li><span>G.</span> Explanation Of Negligent Operator Treatment System (nots)</li>
              <li><span>H.</span> DUI And Its Additional Impact</li>
                <ol>
                  <li><span>1.</span> Emotional</li>
                  <li><span>2.</span> Financial cost to offender over 10 year period</li>
                  <li><span>3.</span> Added restrictions or loss of privileges</li>
                  <li><span>4.</span> On the victims and victim’s family</li>
                  <li><span>5.</span> On society</li>
                </ol>
            </ol>
          </li>
          <li><span>III.</span> <a href="#" class="openChapter" data="iii-operator-responsibilities">
          Operator Responsibilities</a>
            <ol>
              <li><span>A.</span> Knowing When Not To Drive
                <ol>
                  <li><span>1.</span> Personal Concerns
                    <ol>
                      <li><span>a.</span> Tired</li>
                      <li><span>b.</span> Feeling Overly Emotional</li>
                      <li><span>c.</span> Inability To Focus On Driving</li>
                      <li><span>d.</span> Poor Vision</li>
                      <li><span>e.</span> Medicated/alcohol Level</li>
                    </ol>
                  </li>
                  <li><span>2.</span> Exterior Concerns
                    <ol>
                      <li><span>a.</span> Conditions Are Beyond Driving Ability (self-regulating Driver)</li>
                      <li><span>b.</span> Vehicle Meeting Requirements</li>
                      <li><span>c.</span> Driver License/vehicle Registration/liability Insurance Is Not Valid Or Current</li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li><span>B.</span> Communication</li>
              <li><span>C.</span> Being Courteous</li>
              <li><span>D.</span> Knowing And Correctly Applying Rules Of The Road</li>
              <li><span>E.</span> Identifying And Responding To Hazards</li>
              <li><span>F.</span> Child Endangerment
                <ol>
                  <li><span>1.</span> Checking Around Vehicle Prior To Entering And Leaving</li>
                  <li><span>2.</span> Leaving Young Children In Vehicle Unattended
                    <ol>
                      <li><span>a.</span> Temperature Of A Vehicle On A Hot Day</li>
                      <li><span>b.</span> Releasing Brake/shifting To Neutral</li>
                      <li><span>c.</span> Properly Securing Children In Vehicle As Well As Heavy Items</li>
                      <li><span>g.</span> Poor Driving Conditions (such As Downpour, Slippery Roads, Etc)</li>
                      <li><span>h.</span> Rights And Duties
                        <ol>
                          <li><span>1.</span> Pedestrian Related To Traffic Laws/traffic Safety</li>
                          <li><span>2.</span> Drivers Related To Pedestrians, Bicycles, And Motorcycles</li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>IV.</span> <a href="#" class="openChapter" data="iv-rights-and-responsibilities-of-a-pedestrian">Rights and Responsibilities of a Pedestrian</a>
            <ol>
              <li><span>A.</span> Cross At Intersections And Designated Crosswalks</li>
              <li><span>B.</span> Using The Shoulder Of The Road, Facing Traffic When No Sidewalk Is Provided</li>
              <li><span>C.</span> Pedestrians With White Canes Or Seeing Eye Dogs Always Have The Right Of Way</li>
            </ol>
          </li>
          <li><span>V.</span> <a href="#" class="openChapter" data="v-driving-maneuvers">Driving Maneuvers</a>
            <ol>
              <li><span>A.</span> Backing</li>
              <li><span>B.</span> Lane Change</li>
              <li><span>C.</span> Passing</li>
              <li><span>D.</span> Recovering From Hydroplaning</li>
              <li><span>E.</span> Recovering From Fish-tailing</li>
              <li><span>F.</span> Returning To Road From Uneven Surface</li>
            </ol>
          </li>
          <li><span>VI.</span> <a href="#" class="openChapter" data="vi-defensive-driving">Defensive Driving</a>
            <ol>
              <li><span>A.</span> Planning Trips
                <ol>
                  <li><span>1.</span> Packing: first aid kit, flashlight, blanket, navigation aid, warm clothing, etc. in vehicle</li>
                  <li><span>2.</span> Checking road conditions/construction </li>
                  <li><span>3.</span> Inspect or have someone else inspect your vehicle for safety before taking a long trip</li>
                  <li><span>4.</span> Allowing extra travel time</li>
                </ol>
              </li>
              <li><span>B.</span> Avoiding Problems On The Road
                <ol>
                  <li><span>1.</span> Maintaining a safe following distance</li>
                    <ol>
                      <li><span>a.</span> Three second and three second plus rule</li>
                      <li><span>b.</span> Allowing more space behind motorcycles</li>
                    </ol>
                  <li><span>2.</span> Avoid driving in the blind spots of other vehicles</li>
                  <li><span>3.</span> Planning for an evasive action </li>
                  <li><span>4.</span> Driving with your headlights on during the day to increase your vehicle’s visibility</li>
                  <li><span>5.</span> Avoiding lane changes near intersections</li>
                  <li><span>6.</span> Scanning for hazards
                    <ol>
                      <li><span>a.</span> For parked vehicles moving into traffic</li>
                      <li><span>b.</span> At intersections for vehicles taking your right-of-way</li>
                      <li><span>c.</span> Before making lane changes (ahead and blind area)</li>
                      <li><span>d.</span> Covering the brake as you approach an intersection or recognize hazard ahead</li>
                    </ol>
                  </li>
                  <li><span>7.</span> Enhancing driving with aids
                    <ol>
                      <li><span>a.</span> use of sunglasses</li>
                      <li><span>b.</span> use of auto designed water repellant on windshield</li>
                      <li><span>c.</span> using convex and/or panoramic mirrors</li>
                      <li><span>d.</span> using an audible back-up warning device</li>
                    </ol>
                  </li>
                  <li><span>8.</span> Knowing when to give up your right of way</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>VII.</span> <a href="#" class="openChapter" data="vii-colision-avoidance">Collision Avoidance</a>
            <ol>
              <li><span>A.</span> Statistics For The Most Recent Year Reported</li>
                <ol>
                  <li><span>1.</span> California percentages and numbers by
                    <ol>
                      <li><span>a.</span> Type of violation</li>
                      <li><span>b.</span> Time of day</li>
                      <li><span>c.</span> Age groups</li>
                      <li><span>d.</span> gender</li>
                    </ol>
                  </li>
                  <li><span>2.</span> National percentages and numbers by
                    <ol>
                      <li><span>a.</span> Type of violation</li>
                      <li><span>b.</span> Time of day</li>
                      <li><span>c.</span> Age groups</li>
                      <li><span>d.</span> gender</li>
                    </ol>
                  </li>
                </ol>
              <li><span>B.</span> Common Causes Of Collisions
                <ol>
                  <li><span>1.</span> unsafe speed</li>
                  <li><span>2.</span> Driving on the wrong side of the road</li>
                  <li><span>3.</span> Improper turns</li>
                  <li><span>4.</span> Violating right-of-way rules</li>
                  <li><span>5.</span> Violating stop signals and signs</li>
                  <li><span>6.</span> Driver distractions</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>VIII.</span> <a href="#" class="openChapter" data="viii-road-rage-aggressive-driving-and-avoiding-it">Road Rage/Aggressive Driving and Avoiding It</a>
            <ol>
              <li><span>A.</span> How To Handle Another Driver Exhibiting Road Rage/being Aggressive</li>
              <li><span>B.</span> Keeping Your Own Emotions In Check</li>
            </ol>
          </li>
          <li><span>IX.</span> <a href="#" class="openChapter" data="ix-driver-distractions">Driver Distractions</a>
            <ol>
              <li><span>A.</span> Doing Other Things
                <ol>
                  <li><span>1.</span> Eating</li>
                  <li><span>2.</span> hygiene</li>
                  <li><span>3.</span> Electronic devices (cell phones/text devices, navigation devices/dashboard screens)</li>
                  <li><span>4.</span> Scenery/window shopping</li>
                  <li><span>5.</span> Radio/music/ear buds or headphones</li>
                  <li><span>6.</span> Passengers (including children/pets)</li>
                  <li><span>7.</span> Other vehicles/hazards</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>X.</span> <a href="#" class="openChapter" data="x-the-vehicle">The Vehicle</a>
            <ol>
              <li><span>A.</span> Vehicle Requirements To Operate On The Road
                <ol>
                  <li><span>1.</span> Lights/instrument panel indicators</li>
                  <li><span>2.</span> Belts/fluid levels</li>
                  <li><span>3.</span> horn</li>
                  <li><span>4.</span> Windows/mirrors</li>
                  <li><span>5.</span> Tires (including spare)</li>
                  <li><span>6.</span> Seats/car seats/child safety locks (in the side of back doors)</li>
                  <li><span>7.</span> Seat belts</li>
                  <li><span>8.</span> Brakes</li>
                </ol>
              </li>
              <li><span>B.</span> Use Of The Parking Brake</li>
              <li><span>C.</span>  Handling Mechanical Failures On The Road
                <ol>
                  <li><span>1.</span> Safest in vehicle with seat belt and doors locked</li>
                  <li><span>2.</span> Strangers offering help</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><span>XI.</span> <a href="#" class="openChapter" data="xi-the-road">The Road</a>
            <ol>
              <li><span>A.</span> Rules Of The Road
                <ol>
                  <li><span>1.</span> use of lanes
                    <ol>
                      <li><span>a.</span> Bicycle lanes</li>
                      <li><span>b.</span> Ending turns</li>
                      <li><span>c.</span> Center left turn lanes</li>
                      <li><span>d.</span> Motorcycle speed used when passing other vehicles and splitting lane rules</li>
                    </ol>
                  </li>
                  <li><span>2.</span> Passing other vehicles
                    <ol>
                      <li><span>a.</span> Special situations</li>
                      <li><span>b.</span> Dangerous situations
                        <ul>
                          <li>Bridges or abutments</li>
                          <li>On hills</li>
                          <li>Intersections or railroad crossings</li>
                          <li>Class A and Class B vehicles</li>
                          <li>Long line of vehicles ahead</li>
                          <li>Intention to stop or turn</li>
                          <li>Vehicle ahead is at or near speed limit</li>
                          <li>Sight/distance ahead is limited</li>
                          <li>unable to pass before reaching no passing zone</li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                  <li><span>3.</span> Right-of-way situations
                    <ol>
                      <li><span>a.</span> Controlled intersections (at 4-way stop, yield sign, unprotected left turn)</li>
                      <li><span>b.</span> Intersections when signal is out</li>
                      <li><span>c.</span> Vehicles stopped at crosswalk</li>
                      <li><span>d.</span> Respecting the pedestrian right of way at crosswalks (with/without lines, right turns) and driveways</li>
                      <li><span>e.</span> Respecting the bicyclist’s right of way, share the road, entitled to use turn lanes, stay to right when</li>
                      <li><span>f.</span> Anti-gridlock law</li>
                      <li><span>g.</span> School buses with red flashing lights</li>
                      <li><span>h.</span> Where road or lane narrows</li>
                      <li><span>i.</span> Entering freeways</li>
                      <li><span>j.</span> Where u-turns are illegal</li>
                      <li><span>k.</span> Railroad crossings</li>
                      <li><span>l.</span> Proper lanes to end turns</li>
                      <li><span>m.</span> Traffic breaks</li>
                    </ol>
                  </li>
                  <li><span>4.</span> Adjusting your driving for conditions
                    <ol>
                      <li><span>a.</span> Different road conditions (city, country, construction, congestion)</li>
                      <li><span>b.</span> Different weather conditions (rain, snow, fog or sand/dust storm).</li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>