<footer role="contentinfo" class="footer">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <p class="text-muted text__mobile--center">© HelloOfficer, All Rights Reserved 2016</p>
        </div>
        <div class="col-md-4 hidden-xs">
          <ul class="nav navbar-nav">
            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="/privacy-agreement">Privacy Agreement</a></li>
            <li><a href="/frequently-asked-questions">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4 hidden-xs">
          <ul class="nav navbar-nav pull-right">
            <li><a href="https://www.facebook.com/" title="Connect with Hello Officer Traffic School on Facebook" target="new"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="http://www.pinterest.com/" title="Connect with Hello Officer Traffic School on Pinterest" target="new"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
            <li><a href="http://instagram.com/" title="Connect with Hello Officer Traffic School on Instagram" target="new"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="https://twitter.com/" title="Connect with Hello Officer Traffic School on Twitter" target="new"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="http://tumblr.com" title="Connect with Hello Officer Traffic School on Tumblr" target="new"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>